In [64]:
import os

In [65]:
# os.startfile('D:\\Aakash Nadupalli\\MCA\\M.C.A. 2021-2023 Admitted Students Lists.docx')

In [66]:
import pandas

In [67]:
# !pip install jupyter_contrib_nbextensions

In [68]:
# !jupyter contrib nbextension install --user

In [69]:
# !jupyter nbextension enable varInspector/main

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('D:\\Aakash Nadupalli\\MCA\\M.C.A. 2021-2023 Admitted Students Lists.xlsx')

In [36]:
len(df)

30

In [44]:
df.iloc[0:2,:1]

    Roll Number
0  21031F0001
1    21031F0002

In [73]:
import random

In [74]:
random.randint(7,9)

7

In [75]:
random.randrange(1,10,2)

3

In [76]:
random.randrange(9000000000,9999999999,10)

9403789370

In [77]:
PhoneNumbers = []
for i in range(0,31):
    PhoneNumbers.append(random.randrange(9000000000,9999999999,10))

In [78]:
import pandas
PhoneNumbers

[9165600200,
 9246548120,
 9942413570,
 9681406830,
 9811189040,
 9516299250,
 9988464600,
 9910417920,
 9774344200,
 9612571640,
 9900634460,
 9275348130,
 9956629040,
 9009187110,
 9691756390,
 9445283100,
 9337150990,
 9332938130,
 9867122380,
 9263780340,
 9985477060,
 9275202040,
 9607977440,
 9452479600,
 9420788240,
 9257677130,
 9697876190,
 9213550760,
 9566844220,
 9696296360,
 9706767200]

In [79]:
Pn = pd.DataFrame(PhoneNumbers)

In [80]:
result = pd.concat([df, Pn], axis=1).reindex(df.index)

In [81]:
result.rename(columns={0:"Phone Number"},inplace=True)

In [82]:
result

     Roll Number                           NAME  Phone Number
0   21031F0001                 AVUSALA CHANDANA    9165600200
1     21031F0002  DADYREDDY DHEERAJ KUMAR REDDY    9246548120
2     21031F0003             GOTTUMUKKALA JESSY    9942413570
3    2103 IF0004              GANGAPURAM AKHILA    9681406830
4     21031F0005               AAKASH NADUPALLI    9811189040
5     21031F0006                 MOMULA MARUTHI    9516299250
6    2103 IF0007  RENUKUNTLA SHIVA RAMA KRISHNA    9988464600
7     21031F0008           VEMURI VIDYA MADHURI    9910417920
8     21031F0009            BOLLIPALLI AKANKSHA    9774344200
9     21031F0010               CHINTHA CHANDANA    9612571640
10    21031F0011                ADITYA CHOUDARY    9900634460
11    21031F0012                    KARNE RAMYA    9275348130
12    21031F0013               MULLANGI MEGHANA    9956629040
13    21031F0014                     M HARSHITH    9009187110
14    21031F0015            BATTIKADI SREEDIVYA    9691756390
15    21031F0016  VEGESNA SATYA SRIDEVI ANUPAMA    9445283100
16    21031F0017             CHIKATIMARLA AKHIL    9337150990
17    21031F0018                 DONTULA RAKESH    9332938130
18    21031F0019                 G SANGAMESHWAR    9867122380
19    21031F0020          VISHWANATHAM SRILAXMI    9263780340
20    21031F0021            MAMIDIPELLY SAHITYA    9985477060
21    21031F0022                 MOODA YADAGIRI    9275202040
22   2103 IF0023             ALLURI BABY ANJANA    9607977440
23    21031F0024               MACHA SAIKRISHNA    9452479600
24    21031F0025                AROORI Y JHANSI    9420788240
25   2103 IF0026             NIKHIL BHAMIDIPATI    9257677130
26    21031F0027                 AKHILA MUDDALA    9697876190
27   2103 IF0028               PALLAPU RAJKUMAR    9213550760
28    21031F0029                JATAVATH SINDHU    9566844220
29    21031F0030                  RAHUL AGARWAL    9696296360

In [83]:
for i in range(0,30):
    result["Roll Number"][i] = result["Roll Number"][i].replace(" I","1")

C:\Users\aakas\AppData\Local\Temp/ipykernel_5260/1160312383.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["Roll Number"][i] = result["Roll Number"][i].replace(" I","1")

In [88]:
result["Phone Number"]

0     9165600200
1     9246548120
2     9942413570
3     9681406830
4     9811189040
5     9516299250
6     9988464600
7     9910417920
8     9774344200
9     9612571640
10    9900634460
11    9275348130
12    9956629040
13    9009187110
14    9691756390
15    9445283100
16    9337150990
17    9332938130
18    9867122380
19    9263780340
20    9985477060
21    9275202040
22    9607977440
23    9452479600
24    9420788240
25    9257677130
26    9697876190
27    9213550760
28    9566844220
29    9696296360
Name: Phone Number, dtype: int64

In [114]:
x = input("Enter Roll Number :")
for i in result["Roll Number"]:
    if x in i:
        print(result.iloc[y.index(i),[1,2]])

Enter Roll Number :21031F0005
NAME            AAKASH NADUPALLI
Phone Number          9811189040
Name: 4, dtype: object

In [112]:
result.iloc[4,[1,2]]

NAME            AAKASH NADUPALLI
Phone Number          9811189040
Name: 4, dtype: object

In [60]:
# for i in range(0,30):
#     print(result["Roll Number"][i])

In [86]:
result.iloc[1]

Roll Number                        21031F0002
NAME            DADYREDDY DHEERAJ KUMAR REDDY
Phone Number                       9246548120
Name: 1, dtype: object

In [93]:
y = list(result["Roll Number"])
y

['21031F0001  ',
 '21031F0002',
 '21031F0003',
 '21031F0004',
 '21031F0005',
 '21031F0006',
 '21031F0007',
 '21031F0008',
 '21031F0009',
 '21031F0010',
 '21031F0011',
 '21031F0012',
 '21031F0013',
 '21031F0014',
 '21031F0015',
 '21031F0016',
 '21031F0017',
 '21031F0018',
 '21031F0019',
 '21031F0020',
 '21031F0021',
 '21031F0022',
 '21031F0023',
 '21031F0024',
 '21031F0025',
 '21031F0026',
 '21031F0027',
 '21031F0028',
 '21031F0029',
 '21031F0030']

In [94]:
y.index("21031F0005")

4

In [8]:
rows = int(input("Enter the number of rows:"))  
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   # decrement k value after each iteration  
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("")

Enter the number of rows:5
        *
      * *
    * * *
  * * * *
* * * * *

In [1]:
import pywhatkit

In [3]:
pywhatkit.sendwhatmsg("+919940318281","Hi Nikhil Ela unnav",14,19)

In 41 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!