In [7]:
# Importing Libraries
import numpy as np
import pandas as pd

In [159]:
## Data Import
df = pd.read_csv("training_data.csv")
df.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
### Data Inspection
len(df)

14748

In [161]:
df.dtypes

Row_ID                 int64
Application           object
Device                object
Launch_Year          float64
Domain                object
Developer_comapny     object
Indian_Sales         float64
China_Sales          float64
Korea_Sales          float64
Other_Sales          float64
Global_Sales         float64
ScorebyCritic        float64
No_ofCritics         float64
ScorebyUser           object
No_ofUsers           float64
Developer             object
Overall_Rating        object
dtype: object

In [162]:
df.describe()

,Row_ID,Launch_Year,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,ScorebyCritic,No_ofCritics,No_ofUsers
count,14748.00000,14517.000000,14748.000000,14748.000000,14748.000000,14748.000000,14748.000000,7526.000000,7526.000000,7047.000000
mean,7373.50000,2006.217676,0.273585,0.149364,0.079891,0.048842,0.551876,69.181637,26.830853,161.749255
std,4257.52522,5.944182,0.728272,0.456193,0.286014,0.159235,1.372658,13.833710,19.094734,555.912492
min,0.00000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.020000,13.000000,3.000000,4.000000
25%,3686.75000,2003.000000,0.020000,0.000000,0.000000,0.000000,0.080000,61.000000,12.000000,10.000000
50%,7373.50000,2007.000000,0.090000,0.030000,0.000000,0.010000,0.200000,71.000000,22.000000,24.000000
75%,11060.25000,2010.000000,0.260000,0.120000,0.050000,0.040000,0.510000,80.000000,37.000000,82.000000
max,14747.00000,2020.000000,41.360000,28.960000,10.220000,8.450000,82.530000,98.000000,113.000000,10665.000000

In [163]:
#  Null values in each column
df.isna().sum()

Row_ID                  0
Application             2
Device                  0
Launch_Year           231
Domain                  2
Developer_comapny      41
Indian_Sales            0
China_Sales             0
Korea_Sales             0
Other_Sales             0
Global_Sales            0
ScorebyCritic        7222
No_ofCritics         7222
ScorebyUser          5582
No_ofUsers           7701
Developer            5522
Overall_Rating       5630
dtype: int64

In [164]:
# Percentage of Null values in each column
(df.isna().sum()/len(df))*100

Row_ID                0.000000
Application           0.013561
Device                0.000000
Launch_Year           1.566314
Domain                0.013561
Developer_comapny     0.278004
Indian_Sales          0.000000
China_Sales           0.000000
Korea_Sales           0.000000
Other_Sales           0.000000
Global_Sales          0.000000
ScorebyCritic        48.969352
No_ofCritics         48.969352
ScorebyUser          37.849200
No_ofUsers           52.217250
Developer            37.442365
Overall_Rating       38.174668
dtype: float64

In [165]:
df.isnull().sum()

Row_ID                  0
Application             2
Device                  0
Launch_Year           231
Domain                  2
Developer_comapny      41
Indian_Sales            0
China_Sales             0
Korea_Sales             0
Other_Sales             0
Global_Sales            0
ScorebyCritic        7222
No_ofCritics         7222
ScorebyUser          5582
No_ofUsers           7701
Developer            5522
Overall_Rating       5630
dtype: int64

In [166]:
# for i in range(6):
#     display(pd.DataFrame(df.select_dtypes("object")[df.select_dtypes("object").columns[i]].value_counts()).transpose())

In [167]:
### So Application and Domain have just 2 values as null values so i impute with mode value    
df["Application"].fillna(df["Application"].mode()[0],inplace = True)
df["Domain"].fillna(df["Domain"].mode()[0],inplace = True)

In [168]:
### Imputing Launch year null values with median and Developer company with mode   
df["Launch_Year"].fillna(df["Launch_Year"].median(),inplace = True)
df["Developer_comapny"].fillna(df["Developer_comapny"].mode()[0],inplace = True)

In [175]:
df.isnull().sum()

Row_ID               0
Application          0
Device               0
Launch_Year          0
Domain               0
Developer_comapny    0
Indian_Sales         0
China_Sales          0
Korea_Sales          0
Other_Sales          0
Global_Sales         0
dtype: int64

In [174]:
df = df.iloc[:,0:-6]

In [176]:
len(df)

14748

In [188]:
df.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [191]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [206]:
df.select_dtypes("object")

,Application,Device,Domain,Developer_comapny
0,Wii Sports,Wii,Sports,Nintendo
1,Super Mario Bros.,NES,Platform,Nintendo
2,Mario Kart Wii,Wii,Racing,Nintendo
3,Wii Sports Resort,Wii,Sports,Nintendo
4,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo
...,...,...,...,...
14743,Let's Dance with Mel B,PS3,Sports,Black Bean Games
14744,Jewel Quest 5: The Sleepless Star,DS,Action,Licensed 4U
14745,MAPLUS: Portable Navi 3,PSP,Misc,Edia
14746,Neverwinter Nights Diamond,PC,Role-Playing,Atari
14747,DEATH NOTE: L o Tsugu Mono,DS,Adventure,Konami Digital Entertainment

In [200]:
print(df.select_dtypes("object").columns[0]+"_New")

Application_New

In [205]:
le.fit_transform(df.select_dtypes("object").iloc[:,3])

array([321, 321, 321, ..., 124,  49, 248])

In [207]:
for i in range(4):
    df[df.select_dtypes("object").columns[i]+"_New"] =le.fit_transform(df.select_dtypes("object").iloc[:,i])

In [209]:
df

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,Application_New,Device_New,Domain_New,Developer_comapny_New
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,9756,26,10,321
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,8272,11,4,321
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,4953,26,6,321
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,9758,26,10,321
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,6533,5,7,321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14743,14743,Let's Dance with Mel B,PS3,2011.0,Sports,Black Bean Games,0.00,0.02,0.00,0.00,0.02,4598,17,10,66
14744,14744,Jewel Quest 5: The Sleepless Star,DS,2012.0,Action,Licensed 4U,0.00,0.02,0.00,0.00,0.02,4044,4,0,256
14745,14745,MAPLUS: Portable Navi 3,PSP,2009.0,Misc,Edia,0.00,0.00,0.02,0.00,0.02,4751,19,3,124
14746,14746,Neverwinter Nights Diamond,PC,2004.0,Role-Playing,Atari,0.00,0.02,0.00,0.00,0.02,5992,13,7,49
14747,14747,DEATH NOTE: L o Tsugu Mono,DS,2007.0,Adventure,Konami Digital Entertainment,0.00,0.00,0.02,0.00,0.02,1588,4,1,248

In [210]:
df.columns

Index(['Row_ID', 'Application', 'Device', 'Launch_Year', 'Domain',
       'Developer_comapny', 'Indian_Sales', 'China_Sales', 'Korea_Sales',
       'Other_Sales', 'Global_Sales', 'Application_New', 'Device_New',
       'Domain_New', 'Developer_comapny_New'],
      dtype='object')

In [213]:
df = df.reindex(columns = ['Row_ID', 'Application', 'Device', 'Launch_Year', 'Domain',
       'Developer_comapny', 'Application_New', 'Device_New',
       'Domain_New', 'Developer_comapny_New' ,'Indian_Sales', 'China_Sales', 'Korea_Sales',
       'Other_Sales', 'Global_Sales'])

In [214]:
df.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Application_New,Device_New,Domain_New,Developer_comapny_New,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,9756,26,10,321,41.36,28.96,3.77,8.45,82.53
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,8272,11,4,321,29.08,3.58,6.81,0.77,40.24
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,4953,26,6,321,15.68,12.76,3.79,3.29,35.52
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,9758,26,10,321,15.61,10.93,3.28,2.95,32.77
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,6533,5,7,321,11.27,8.89,10.22,1.00,31.37

In [150]:
# df[df["ScorebyCritic"].notnull()].drop(df.iloc[:,-5:],axis=1).iloc[:,[0,3,6,7,8,9,10]]
# df[df["ScorebyCritic"].isnull()].drop(df.iloc[:,-5:],axis=1).iloc[:,[0,3,6,7,8,9,10]]

In [128]:
# from sklearn import tree
# dt = tree.DecisionTreeClassifier()
# dt.fit(df[df["ScorebyCritic"].notnull()].drop(df.iloc[:,-5:],axis=1).iloc[:,[0,3,6,7,8,9,10]],
#       df[df["ScorebyCritic"].notnull()].drop(df.iloc[:,-5:],axis=1).iloc[:,-1])
# dt.predict(df[df["ScorebyCritic"].isnull()].drop(df.iloc[:,-5:],axis=1).iloc[:,[0,3,6,7,8,9,10]])

In [177]:
df1 = pd.read_csv("test_data.csv")
df1.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
0,0,ZooCube,GC,2002.0,Puzzle,Acclaim Entertainment,0.02,0.00,0.00,0.0,67.0,15.0,6.1,7.0,PuzzleKings,E
1,1,GRID Autosport,PC,2014.0,Racing,Codemasters,0.00,0.02,0.00,0.0,78.0,35.0,6.2,257.0,Codemasters,E
2,2,Spy Hunter / Super Sprint,GBA,2005.0,Racing,Zoo Digital Publishing,0.02,0.01,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Demon Gaze 2,PSV,2014.0,Role-Playing,Experience Inc.,0.00,0.00,0.02,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Clover no Kuni no Alice: Wonderful Wonder World,PS2,2010.0,Adventure,Prototype,0.00,0.00,0.02,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
df1.isna().sum()

Row_ID                  0
Application             0
Device                  0
Launch_Year             0
Domain                  0
Developer_comapny       0
Indian_Sales            0
China_Sales             0
Korea_Sales             0
Other_Sales             0
ScorebyCritic        1377
No_ofCritics         1377
ScorebyUser          1138
No_ofUsers           1444
Developer            1117
Overall_Rating       1155
dtype: int64

In [179]:
### Imputing Launch year null values with median and Developer company with mode   
df1["Launch_Year"].fillna(df1["Launch_Year"].median(),inplace = True)
df1["Developer_comapny"].fillna(df1["Developer_comapny"].mode()[0],inplace = True)

In [182]:
df1 = df1.iloc[:,0:-6]

In [183]:
df1.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales
0,0,ZooCube,GC,2002.0,Puzzle,Acclaim Entertainment,0.02,0.00,0.00,0.0
1,1,GRID Autosport,PC,2014.0,Racing,Codemasters,0.00,0.02,0.00,0.0
2,2,Spy Hunter / Super Sprint,GBA,2005.0,Racing,Zoo Digital Publishing,0.02,0.01,0.00,0.0
3,3,Demon Gaze 2,PSV,2014.0,Role-Playing,Experience Inc.,0.00,0.00,0.02,0.0
4,4,Clover no Kuni no Alice: Wonderful Wonder World,PS2,2010.0,Adventure,Prototype,0.00,0.00,0.02,0.0

In [184]:
len(df1)

2018

In [215]:
for i in range(4):
    df1[df1.select_dtypes("object").columns[i]+"_New"] =le.fit_transform(df1.select_dtypes("object").iloc[:,i])

In [216]:
df1 = df1.reindex(columns = ['Row_ID', 'Application', 'Device', 'Launch_Year', 'Domain',
       'Developer_comapny', 'Application_New', 'Device_New',
       'Domain_New', 'Developer_comapny_New' ,'Indian_Sales', 'China_Sales', 'Korea_Sales',
       'Other_Sales'])

In [217]:
df1.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Application_New,Device_New,Domain_New,Developer_comapny_New,Indian_Sales,China_Sales,Korea_Sales,Other_Sales
0,0,ZooCube,GC,2002.0,Puzzle,Acclaim Entertainment,1901,7,5,9,0.02,0.00,0.00,0.0
1,1,GRID Autosport,PC,2014.0,Racing,Codemasters,526,12,6,54,0.00,0.02,0.00,0.0
2,2,Spy Hunter / Super Sprint,GBA,2005.0,Racing,Zoo Digital Publishing,1486,6,6,315,0.02,0.01,0.00,0.0
3,3,Demon Gaze 2,PSV,2014.0,Role-Playing,Experience Inc.,321,18,7,92,0.00,0.00,0.02,0.0
4,4,Clover no Kuni no Alice: Wonderful Wonder World,PS2,2010.0,Adventure,Prototype,240,14,1,236,0.00,0.00,0.02,0.0

In [233]:
X = df.drop(df.iloc[:,[1,2,4,5,-1]],axis=1)
Y = df.drop(df.iloc[:,:-1],axis=1)

In [241]:
df1.drop(df1.iloc[:,[1,2,4,5]],axis=1)

,Row_ID,Launch_Year,Application_New,Device_New,Domain_New,Developer_comapny_New,Indian_Sales,China_Sales,Korea_Sales,Other_Sales
count,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000
mean,1008.500000,2008.435580,949.606541,13.807730,4.430624,162.052527,0.213672,0.127874,0.067914,0.040674
std,582.690741,4.987546,554.489824,6.653526,3.790680,96.462951,1.280601,0.769046,0.453811,0.323642
min,0.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,504.250000,2006.000000,467.250000,9.250000,1.000000,75.000000,0.000000,0.000000,0.000000,0.000000
50%,1008.500000,2009.000000,947.500000,14.000000,3.000000,158.000000,0.000000,0.000000,0.000000,0.000000
75%,1512.750000,2012.000000,1426.750000,18.000000,8.000000,254.000000,0.010000,0.010000,0.020000,0.000000
max,2017.000000,2017.000000,1908.000000,26.000000,11.000000,320.000000,26.930000,10.950000,7.200000,10.570000

In [227]:
from sklearn.linear_model import LinearRegression

In [229]:
lr = LinearRegression()

In [234]:
lr.fit(X,Y)

LinearRegression()

In [248]:
lr_predict = pd.DataFrame(lr.predict(df1.drop(df1.iloc[:,[1,2,4,5]],axis=1)))

In [251]:
lr_predict

             0
0     0.019767
1     0.019514
2     0.029524
3     0.019491
4     0.019493
...        ...
2013  0.139699
2014  0.129657
2015  0.129848
2016  0.129643
2017  0.129617

[2018 rows x 1 columns]

In [267]:
global_sales = pd.DataFrame(columns=["Row_ID","Global_Sales"])
global_sales["Row_ID"] =df1.iloc[:,0]
global_sales["Global_Sales"] =lr_predict[0]
global_sales.to_csv("D:\\Skillenza_Bootcamp\\ML Level2\\Problem1\\global_sales.csv")

In [268]:
from sklearn import tree
dt = tree.DecisionTreeRegressor()

In [269]:
dt.fit(X,Y)

DecisionTreeRegressor()

In [275]:
dt_predict = pd.DataFrame(dt.predict(df1.drop(df1.iloc[:,[1,2,4,5]],axis=1)))
dt_predict.describe()

                 0
count  2018.000000
mean      2.475674
std       2.590186
min       1.010000
25%       1.270000
50%       1.710000
75%       2.770000
max      40.240000

In [272]:
global_sales1 = pd.DataFrame(columns=["Row_ID","Global_Sales"])
global_sales1["Row_ID"] =df1.iloc[:,0]
global_sales1["Global_Sales"] =dt_predict[0]
global_sales1.to_csv("D:\\Skillenza_Bootcamp\\ML Level2\\Problem1\\global_sales_dt.csv")