# Database Management Through Python
## Use of pysqlite for accesing and managing sqlite3 database

- SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. 
- SQLite is the most widely deployed SQL database engine in the world." 

see [sqlite](http://www.sqlite.org/)

## Installation
You can install command based interface for SQLite version 3 (sqlite3) databases and associated python package from [sqlite website](https://sqlite.org/)

To install this package with conda run:

    conda install -c anaconda sqlite=3.13.0
 
## Documentation
- [sqlite command mode execution](https://www.sqlite.org/cli.html)
- [sqlite3 python module documentation](https://docs.python.org/2/library/sqlite3.html)

## SQLite Module in Python
To use the SQLite3 module we need to add an import statement to our python script:

In [24]:
# Connecting sqlite3 database

import sqlite3 as lite
import sys

### Connecting to the Database
- To connect to the database, we can use sqlite3.connect function by passing the name of a file to open or create it.
- We can use the argument ":memory:" to create a temporary DB in the RAM:
- When we are done working with the DB we need to close the connection:

### Print version of the sqlite package

In [25]:
con = None # variable to store sqlite3 object

try:
    con = lite.connect('test.db') # connect to the database
    
    cur = con.cursor()    
    
    cur.execute('SELECT SQLITE_VERSION()') #sqlite3 command through python wrapper
    
    data = cur.fetchone() # Collecting data from the query response
    
    print("SQLite version:", data)                
    
except lite.Error:
    
    print("Error :" + e.args[0])
    #sys.exit(1)
    
finally:
    
    if con:
        con.close()

SQLite version: ('3.8.11',)

Above task can also be accommplished using package macro *sqlite_version*

In [26]:
lite.sqlite_version

'3.8.11'

In the form of tuple

In [27]:
lite.sqlite_version_info

(3, 8, 11)

The *sqlite.version* is the version of the pysqlite (2.6.0), which is the binding of the Python language to the SQLite database. The *sqlite3.sqlite_version* gives us the version of the SQLite database library. In our case it is 3.8.11

In [28]:
lite.version

'2.6.0'

# CRUD operations

### CREATE TABLE
To use the database, we need to get a cursor object and pass the SQL statements to the cursor object to execute them. 
Then, we should commit the changes.

We are going to create a CARS table with Id, Name and price.

In [29]:
#Connect with the database
con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    cur.execute("DROP TABLE IF EXISTS Cars")
    cur.execute("CREATE TABLE Cars(Id INT, Name TEXT, Price INT)")
    cur.execute("INSERT INTO Cars VALUES(1,'Audi',52642)")
    cur.execute("INSERT INTO Cars VALUES(2,'Mercedes',57127)")
    cur.execute("INSERT INTO Cars VALUES(3,'Skoda',9000)")
    cur.execute("INSERT INTO Cars VALUES(4,'Volvo',29000)")
    cur.execute("INSERT INTO Cars VALUES(5,'Bentley',350000)")
    cur.execute("INSERT INTO Cars VALUES(6,'Citroen',21000)")
    cur.execute("INSERT INTO Cars VALUES(7,'Hummer',41400)")
    cur.execute("INSERT INTO Cars VALUES(8,'Volkswagen',21600)")
    
con.close() #close the database

## Same things as above in a single command using "*executemany*"

In [30]:
cars = (
    (1, 'Audi', 52642),
    (2, 'Mercedes', 57127),
    (3, 'Skoda', 9000),
    (4, 'Volvo', 29000),
    (5, 'Bentley', 350000),
    (6, 'Hummer', 41400),
    (7, 'Volkswagen', 21600)
)

#Reconnect with the database
con = lite.connect('test.db') 

with con:
    
    cur = con.cursor()    
    
    cur.execute("DROP TABLE IF EXISTS Cars")
    cur.execute("CREATE TABLE Cars(Id INT, Name TEXT, Price INT)")
    cur.executemany("INSERT INTO Cars VALUES(?, ?, ?)", cars)

con.close() #close the database

## We can execute same thing as above using *"executescript"* method

Observe the *try-except-finally* block

In [31]:
try:
    con = lite.connect('test.db') # connect to the databse
    
    cur = con.cursor()  #get cursor position
    
    cur.executescript("""
        DROP TABLE IF EXISTS Cars;
        CREATE TABLE Cars(Id INT, Name TEXT, Price INT);
        INSERT INTO Cars VALUES(1,'Audi',52642);
        INSERT INTO Cars VALUES(2,'Mercedes',57127);
        INSERT INTO Cars VALUES(3,'Skoda',9000);
        INSERT INTO Cars VALUES(4,'Volvo',29000);
        INSERT INTO Cars VALUES(5,'Bentley',350000);
        INSERT INTO Cars VALUES(6,'Citroen',21000);
        INSERT INTO Cars VALUES(7,'Hummer',41400);
        INSERT INTO Cars VALUES(8,'Volkswagen',21600);
        """"")
    con.commit()
    
except lite.Error: # on error execute following code block
    if con:
        con.rollback() #roll back any changes in the database
        
    print("Error %s:"% e.args[0])
    
finally:
    
    if con:
        con.close()  #close the database

## Add a new table Friends and access its last row

In [32]:
con = lite.connect(':memory:')

with con:
    
    cur = con.cursor()    
    cur.execute("CREATE TABLE Friends(Id INTEGER PRIMARY KEY, Name TEXT);")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Tom');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Rebecca');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Jim');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Robert');")
        
    lid = cur.lastrowid
    print("The last Id of the inserted row is %d" % lid)

#close the database
con.close()

The last Id of the inserted row is 4

### READ and Retrieve the data

In [33]:
con = lite.connect('test.db')

with con:    
    
    cur = con.cursor()    
    cur.execute("SELECT * FROM Cars")

    rows = cur.fetchall()

    for row in rows:
        print(row)

#close the database
con.close()

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

## Fetching records line by line

In [34]:
con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    cur.execute("SELECT * FROM Cars")

    while True:
      
        row = cur.fetchone()
        
        if row == None:
            break
            
        print(row[0], row[1], row[2])

1 Audi 52642
2 Mercedes 57127
3 Skoda 9000
4 Volvo 29000
5 Bentley 350000
6 Citroen 21000
7 Hummer 41400
8 Volkswagen 21600

## sqlite3 command line
Let's see what we've done so far using sqlite command shell:

<img src="Sqlit3CommandPromptOutput.png", align="left">