In [1]:
## Program to count No.of Characters in a String

str = input("Enter The String:")
count = 0 
for i in str:
    count = count + 1
print("The number of characters in a string:",count)

Enter The String:hi this is aakash
The number of characters in a string: 17

In [2]:
## Program to count No.of Vowels in a String

str = input("Enter The String:") 
str1 = set("aeiouAEIOU")
count = 0

for i in str:
    
     if i in str1:
        count = count + 1
print("The number of Vowels in a string:",count)

Enter The String:hi this is aakash
The number of Vowels in a string: 6

In [45]:
##   Python program to capture 2 numbers from the keyboard and display its sum.
a = input("a :")
b = input("b :")
c = int(a)+int(b)
print("Sum of a & b :",c)

a :45
b :12
Sum of a & b : 57

In [70]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('my name my name is aakash nadupalli aakash nadupalli'))

{'my': 2, 'name': 2, 'is': 1, 'aakash': 2, 'nadupalli': 2}

In [78]:
def word_count(str):
    counts = dict()
    vowels = set("aeiouAEIOU")  
    
    for word in str:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('my name my name is aakash nadupalli aakash nadupalli'))

{'m': 4, 'y': 2, ' ': 8, 'n': 4, 'a': 12, 'e': 2, 'i': 3, 's': 3, 'k': 2, 'h': 2, 'd': 2, 'u': 2, 'p': 2, 'l': 4}

In [82]:
import pandas as pd

myfile = pd.read_csv(r"D:\Files\MS-Office Files\adult_sal.csv")

print(myfile)

       Unnamed: 0  age     type_employer  fnlwgt   education  education_num  \
0               1   39         State-gov   77516   Bachelors             13
1               2   50  Self-emp-not-inc   83311   Bachelors             13
2               3   38           Private  215646     HS-grad              9
3               4   53           Private  234721        11th              7
4               5   28           Private  338409   Bachelors             13
...           ...  ...               ...     ...         ...            ...
32556       32557   27           Private  257302  Assoc-acdm             12
32557       32558   40           Private  154374     HS-grad              9
32558       32559   58           Private  151910     HS-grad              9
32559       32560   22           Private  201490     HS-grad              9
32560       32561   52      Self-emp-inc  287927     HS-grad              9

                  marital         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital_gain  capital_loss  hr_per_week        country income
0              2174             0           40  United-States  <=50K
1                 0             0           13  United-States  <=50K
2                 0             0           40  United-States  <=50K
3                 0             0           40  United-States  <=50K
4                 0             0           40           Cuba  <=50K
...             ...           ...          ...            ...    ...
32556             0             0           38  United-States  <=50K
32557             0             0           40  United-States   >50K
32558             0             0           40  United-States  <=50K
32559             0             0           20  United-States  <=50K
32560         15024             0           40  United-States   >50K

[32561 rows x 16 columns]

In [88]:
myfile.dtypes

Unnamed: 0        int64
age               int64
type_employer    object
fnlwgt            int64
education        object
education_num     int64
marital          object
occupation       object
relationship     object
race             object
sex              object
capital_gain      int64
capital_loss      int64
hr_per_week       int64
country          object
income           object
dtype: object

In [89]:
myfile.info

<bound method DataFrame.info of        Unnamed: 0  age     type_employer  fnlwgt   education  education_num  \
0               1   39         State-gov   77516   Bachelors             13
1               2   50  Self-emp-not-inc   83311   Bachelors             13
2               3   38           Private  215646     HS-grad              9
3               4   53           Private  234721        11th              7
4               5   28           Private  338409   Bachelors             13
...           ...  ...               ...     ...         ...            ...
32556       32557   27           Private  257302  Assoc-acdm             12
32557       32558   40           Private  154374     HS-grad              9
32558       32559   58           Private  151910     HS-grad              9
32559       32560   22           Private  201490     HS-grad              9
32560       32561   52      Self-emp-inc  287927     HS-grad              9

                  marital         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital_gain  capital_loss  hr_per_week        country income
0              2174             0           40  United-States  <=50K
1                 0             0           13  United-States  <=50K
2                 0             0           40  United-States  <=50K
3                 0             0           40  United-States  <=50K
4                 0             0           40           Cuba  <=50K
...             ...           ...          ...            ...    ...
32556             0             0           38  United-States  <=50K
32557             0             0           40  United-States   >50K
32558             0             0           40  United-States  <=50K
32559             0             0           20  United-States  <=50K
32560         15024             0           40  United-States   >50K

[32561 rows x 16 columns]>

In [90]:
myfile.columns

Index(['Unnamed: 0', 'age', 'type_employer', 'fnlwgt', 'education',
       'education_num', 'marital', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hr_per_week', 'country', 'income'],
      dtype='object')

In [91]:
sorted(myfile)

['Unnamed: 0',
 'age',
 'capital_gain',
 'capital_loss',
 'country',
 'education',
 'education_num',
 'fnlwgt',
 'hr_per_week',
 'income',
 'marital',
 'occupation',
 'race',
 'relationship',
 'sex',
 'type_employer']

In [93]:
myfile.isnull()

,Unnamed: 0,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32560,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
# example.py
#
# Example of calculating with dictionaries

prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

# Find min and max price
min_price = min(zip(prices.values(), prices.keys()))
max_price = max(zip(prices.values(), prices.keys()))

print('min price:', min_price)
print('max price:', max_price)

print('sorted prices:')
prices_sorted = sorted(zip(prices.values(), prices.keys()))
for price, name in prices_sorted:
    print('    ', name, price)

min price: (10.75, 'FB')
max price: (612.78, 'AAPL')
sorted prices:
     FB 10.75
     HPQ 37.2
     ACME 45.23
     IBM 205.55
     AAPL 612.78

In [19]:
from collections import Counter

words = [
   'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
   'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
   'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
   'my', 'eyes', "you're", 'under'
]
words_count = Counter(words)
top_three = words_count.most_common(3)
print(top_three)

morewords = ['why','are','you','not','looking','in','my','eyes']
word_count.update(morewords)
print(word_count.most_common(3))

[('eyes', 8), ('the', 5), ('look', 4)]

In [21]:
# example of extracting a subset from a dictionary
from pprint import pprint

prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }

print("All prices over 200")
pprint(p1)

# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }

print("All techs")
pprint(p2)

All prices over 200
{'AAPL': 612.78, 'IBM': 205.55}
All techs
{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

In [22]:
# Examples of different ways to filter data

mylist = [1, 4, -5, 10, -7, 2, 3, -1]

# All positive values
pos = [n for n in mylist if n > 0]
print(pos)

# All negative values
neg = [n for n in mylist if n < 0]
print(neg)

# Negative values clipped to 0
neg_clip = [n if n > 0 else 0 for n in mylist]
print(neg_clip)

# Positive values clipped to 0
pos_clip = [n if n < 0 else 0 for n in mylist]
print(pos_clip)

# Compressing example

addresses = [
    '5412 N CLARK',
    '5148 N CLARK', 
    '5800 E 58TH',
    '2122 N CLARK',
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]

counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

from itertools import compress

more5 = [ n > 5 for n in counts ]
a = list(compress(addresses, more5))
print(a)

[1, 4, 10, 2, 3]
[-5, -7, -1]
[1, 4, 0, 10, 0, 2, 3, 0]
[0, 0, -5, 0, -7, 0, 0, -1]
['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

In [23]:
# example.py
#
# Example of using heapq to find the N smallest or largest items

import heapq

portfolio = [
   {'name': 'IBM', 'shares': 100, 'price': 91.1},
   {'name': 'AAPL', 'shares': 50, 'price': 543.22},
   {'name': 'FB', 'shares': 200, 'price': 21.09},
   {'name': 'HPQ', 'shares': 35, 'price': 31.75},
   {'name': 'YHOO', 'shares': 45, 'price': 16.35},
   {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

print(cheap)
print(expensive)

[{'name': 'YHOO', 'shares': 45, 'price': 16.35}, {'name': 'FB', 'shares': 200, 'price': 21.09}, {'name': 'HPQ', 'shares': 35, 'price': 31.75}]
[{'name': 'AAPL', 'shares': 50, 'price': 543.22}, {'name': 'ACME', 'shares': 75, 'price': 115.65}, {'name': 'IBM', 'shares': 100, 'price': 91.1}]

In [24]:
# example.py
#
# Examples of simple regular expression matching

import re

# Some sample text
text = 'Today is 11/27/2012. PyCon starts 3/13/2013.'

# (a) Find all matching dates
datepat = re.compile(r'\d+/\d+/\d+')
print(datepat.findall(text))

# (b) Find all matching dates with capture groups
datepat = re.compile(r'(\d+)/(\d+)/(\d+)')
for month, day, year in datepat.findall(text):
    print('{}-{}-{}'.format(year, month, day))

# (c) Iterative search
for m in datepat.finditer(text):
    print(m.groups())

['11/27/2012', '3/13/2013']
2012-11-27
2013-3-13
('11', '27', '2012')
('3', '13', '2013')

In [25]:
# example.py
#
# Examples of simple regular expression matching

import re

# Some sample text
text = 'Today is 11/27/2012. PyCon starts 3/13/2013.'

# (a) Find all matching dates
datepat = re.compile(r'\d+/\d+/\d+')
print(datepat.findall(text))

# (b) Find all matching dates with capture groups
datepat = re.compile(r'(\d+)/(\d+)/(\d+)')
for month, day, year in datepat.findall(text):
    print('{}-{}-{}'.format(year, month, day))

# (c) Iterative search
for m in datepat.finditer(text):
    print(m.groups())

['11/27/2012', '3/13/2013']
2012-11-27
2013-3-13
('11', '27', '2012')
('3', '13', '2013')