In [1]:
import pandas as pd

In [2]:
df   = pd.read_excel("train.xlsx")
test = pd.read_excel("test.xlsx")

In [3]:
df

,ID,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status
0,1,188,Feed,clay,1,0,0.0,0,1,0
1,2,209,Feed,clay,1,0,0.0,0,2,1
2,3,257,Feed,clay,1,0,0.0,0,2,1
3,4,257,Feed,silt,1,0,0.0,0,2,1
4,5,342,Feed,clay,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...
79995,79996,209,Food,silt,2,20,12.0,6,2,0
79996,79997,232,Food,silt,2,20,12.0,9,1,0
79997,79998,256,Food,silt,2,10,14.0,10,1,0
79998,79999,256,Food,silt,2,10,16.0,8,2,0
79999,80000,256,Food,silt,2,20,11.0,10,2,0

In [44]:
df["Crop_status"].value_counts()

0    66716
1    11183
2     2101
Name: Crop_status, dtype: int64

In [4]:
test

,ID,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season
0,1,188,Feed,silt,1,0,NaN,0,2
1,2,410,Feed,silt,1,0,0.0,0,2
2,3,626,Feed,clay,1,0,0.0,0,2
3,4,731,Feed,clay,1,0,0.0,0,2
4,5,789,Food,clay,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...,...
34995,34996,677,Food,silt,2,40,27.0,3,1
34996,34997,731,Food,silt,2,10,8.0,20,3
34997,34998,732,Food,silt,2,10,10.0,20,2
34998,34999,731,Food,silt,2,10,31.0,2,2
34999,35000,731,Food,silt,2,15,8.0,16,1

In [5]:
test.isna().sum()

ID                               0
Insects                          0
Crop                             0
Soil                             0
Category_of_Toxicant             0
Does_count                       0
Number_of_Weeks_Used          3542
Number_Weeks_does_not used       0
Season                           0
dtype: int64

In [6]:
df.isna().sum()

ID                               0
Insects                          0
Crop                             0
Soil                             0
Category_of_Toxicant             0
Does_count                       0
Number_of_Weeks_Used          8055
Number_Weeks_does_not used       0
Season                           0
Crop_status                      0
dtype: int64

In [7]:
df.isna().sum()/len(df) * 100

ID                             0.00000
Insects                        0.00000
Crop                           0.00000
Soil                           0.00000
Category_of_Toxicant           0.00000
Does_count                     0.00000
Number_of_Weeks_Used          10.06875
Number_Weeks_does_not used     0.00000
Season                         0.00000
Crop_status                    0.00000
dtype: float64

In [8]:
# pd.DataFrame(df["Number_of_Weeks_Used"].value_counts()).reset_index()[pd.DataFrame(df["Number_of_Weeks_Used"].value_counts()).reset_index()["index"] == 28.0]

In [9]:
df["Number_of_Weeks_Used"].fillna(df["Number_of_Weeks_Used"].median(),inplace = True)

df1 = df.drop("ID",axis = 1).copy()

df1["Crop"]  = df1["Crop"].replace({"Feed":0,"Food":1})
df1["Soil"]  = df1["Soil"].replace({"clay":0,"silt":1})

In [10]:
# df["Crop"].value_counts()
# df["Soil"].value_counts()
# df["Category_of_Toxicant"].value_counts()
# df["Does_count"].value_counts()

In [11]:
df1

,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status
0,188,0,0,1,0,0.0,0,1,0
1,209,0,0,1,0,0.0,0,2,1
2,257,0,0,1,0,0.0,0,2,1
3,257,0,1,1,0,0.0,0,2,1
4,342,0,0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...
79995,209,1,1,2,20,12.0,6,2,0
79996,232,1,1,2,20,12.0,9,1,0
79997,256,1,1,2,10,14.0,10,1,0
79998,256,1,1,2,10,16.0,8,2,0
79999,256,1,1,2,20,11.0,10,2,0

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
df1 = pd.DataFrame(scaler.fit_transform(df1.drop("Crop_status",axis = 1)))
df1.columns = df.columns[1:9]

In [13]:
df1["Crop_status"] = df["Crop_status"]

In [14]:
df1

,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status
0,0.009628,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0,0
1,0.014948,0.0,0.0,0.0,0.000000,0.000000,0.00,0.5,1
2,0.027109,0.0,0.0,0.0,0.000000,0.000000,0.00,0.5,1
3,0.027109,0.0,1.0,0.0,0.000000,0.000000,0.00,0.5,1
4,0.048645,0.0,0.0,0.0,0.000000,0.000000,0.00,0.5,1
...,...,...,...,...,...,...,...,...,...
79995,0.014948,1.0,1.0,0.5,0.210526,0.179104,0.12,0.5,0
79996,0.020775,1.0,1.0,0.5,0.210526,0.179104,0.18,0.0,0
79997,0.026856,1.0,1.0,0.5,0.105263,0.208955,0.20,0.0,0
79998,0.026856,1.0,1.0,0.5,0.105263,0.238806,0.16,0.5,0
79999,0.026856,1.0,1.0,0.5,0.210526,0.164179,0.20,0.5,0

In [36]:
test["Number_of_Weeks_Used"].fillna(test["Number_of_Weeks_Used"].median(),inplace = True)

In [15]:
test1 = test.drop("ID",axis=1)
test1

,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season
0,188,Feed,silt,1,0,NaN,0,2
1,410,Feed,silt,1,0,0.0,0,2
2,626,Feed,clay,1,0,0.0,0,2
3,731,Feed,clay,1,0,0.0,0,2
4,789,Food,clay,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...
34995,677,Food,silt,2,40,27.0,3,1
34996,731,Food,silt,2,10,8.0,20,3
34997,732,Food,silt,2,10,10.0,20,2
34998,731,Food,silt,2,10,31.0,2,2
34999,731,Food,silt,2,15,8.0,16,1

In [16]:
test1["Number_of_Weeks_Used"].fillna(test1["Number_of_Weeks_Used"].median(),inplace = True)

test1["Crop"]  = test1["Crop"].replace({"Feed":0,"Food":1})
test1["Soil"]  = test1["Soil"].replace({"clay":0,"silt":1})

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
test1 = pd.DataFrame(scaler.fit_transform(test1))
test1.columns = df1.columns[0:-1]
test1

,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season
0,0.009628,0.0,1.0,0.0,0.000000,0.417910,0.00,0.5
1,0.065873,0.0,1.0,0.0,0.000000,0.000000,0.00,0.5
2,0.120598,0.0,0.0,0.0,0.000000,0.000000,0.00,0.5
3,0.147200,0.0,0.0,0.0,0.000000,0.000000,0.00,0.5
4,0.161895,1.0,0.0,0.0,0.000000,0.000000,0.00,0.0
...,...,...,...,...,...,...,...,...
34995,0.133519,1.0,1.0,0.5,0.421053,0.402985,0.06,0.0
34996,0.147200,1.0,1.0,0.5,0.105263,0.119403,0.40,1.0
34997,0.147454,1.0,1.0,0.5,0.105263,0.149254,0.40,0.5
34998,0.147200,1.0,1.0,0.5,0.105263,0.462687,0.04,0.5
34999,0.147200,1.0,1.0,0.5,0.157895,0.119403,0.32,0.0

In [20]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(df1.drop("Crop_status",axis=1),df1["Crop_status"])
crop_lg = test[["ID"]]
crop_lg["Crop_status"] = pd.DataFrame(lg.predict(test1))[0]
crop_lg
# crop_lg.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_lg.csv",index = False)

C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

          ID  Crop_status
0          1            0
1          2            0
2          3            0
3          4            0
4          5            0
...      ...          ...
34995  34996            0
34996  34997            0
34997  34998            0
34998  34999            0
34999  35000            0

[35000 rows x 2 columns]

In [21]:
crop_lg["Crop_status"].value_counts()

0    34394
1      606
Name: Crop_status, dtype: int64

In [30]:
df2 = df.drop("ID",axis=1).copy()
df2[["Crop","Soil"]] = df1[["Crop","Soil"]]
df2

,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status
0,188,0.0,0.0,1,0,0.0,0,1,0
1,209,0.0,0.0,1,0,0.0,0,2,1
2,257,0.0,0.0,1,0,0.0,0,2,1
3,257,0.0,1.0,1,0,0.0,0,2,1
4,342,0.0,0.0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...
79995,209,1.0,1.0,2,20,12.0,6,2,0
79996,232,1.0,1.0,2,20,12.0,9,1,0
79997,256,1.0,1.0,2,10,14.0,10,1,0
79998,256,1.0,1.0,2,10,16.0,8,2,0
79999,256,1.0,1.0,2,20,11.0,10,2,0

In [37]:
test2 = test.drop("ID",axis=1)
test2[["Crop","Soil"]] = test1[["Crop","Soil"]]
test2

,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season
0,188,0.0,1.0,1,0,28.0,0,2
1,410,0.0,1.0,1,0,0.0,0,2
2,626,0.0,0.0,1,0,0.0,0,2
3,731,0.0,0.0,1,0,0.0,0,2
4,789,1.0,0.0,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...
34995,677,1.0,1.0,2,40,27.0,3,1
34996,731,1.0,1.0,2,10,8.0,20,3
34997,732,1.0,1.0,2,10,10.0,20,2
34998,731,1.0,1.0,2,10,31.0,2,2
34999,731,1.0,1.0,2,15,8.0,16,1

In [38]:
from sklearn.linear_model import LogisticRegression
lg1 = LogisticRegression()
lg1.fit(df2.drop("Crop_status",axis=1),df2["Crop_status"])
crop_lg1 = test[["ID"]]
crop_lg1["Crop_status"] = pd.DataFrame(lg1.predict(test2))[0]
crop_lg1
# crop_lg1.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_lg1.csv",index = False)

C:\Users\aakas\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

          ID  Crop_status
0          1            0
1          2            0
2          3            0
3          4            1
4          5            1
...      ...          ...
34995  34996            0
34996  34997            0
34997  34998            0
34998  34999            0
34999  35000            0

[35000 rows x 2 columns]

In [40]:
crop_lg1["Crop_status"].value_counts()

0    34423
1      577
Name: Crop_status, dtype: int64

In [53]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(df1.drop("Crop_status",axis=1),df1["Crop_status"])
crop_nb = test[["ID"]]
crop_nb["Crop_status"] = pd.DataFrame(nb.predict(test1))[0]
crop_nb["Crop_status"].value_counts()
# crop_nb.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_nb.csv",index = False)

C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [49]:
from sklearn.naive_bayes import GaussianNB
nb1 = GaussianNB()
nb1.fit(df2.drop("Crop_status",axis=1),df2["Crop_status"])
crop_nb1 = test[["ID"]]
crop_nb1["Crop_status"] = pd.DataFrame(nb1.predict(test2))[0]
crop_nb1
crop_nb1.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_nb1.csv",index = False)

C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [48]:
crop_nb1["Crop_status"].value_counts()

0    32043
1     2955
2        2
Name: Crop_status, dtype: int64

In [56]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(df1.drop("Crop_status",axis=1),df1["Crop_status"])
crop_dt = test[["ID"]]
crop_dt["Crop_status"] = pd.DataFrame(dt.predict(test1))[0]
crop_dt
# crop_dt.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_dt.csv",index = False)

C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

          ID  Crop_status
0          1            1
1          2            1
2          3            1
3          4            2
4          5            1
...      ...          ...
34995  34996            0
34996  34997            0
34997  34998            0
34998  34999            0
34999  35000            0

[35000 rows x 2 columns]

In [57]:
crop_dt["Crop_status"].value_counts()

0    28573
1     5383
2     1044
Name: Crop_status, dtype: int64

In [82]:
from sklearn.tree import DecisionTreeClassifier
dt1 = DecisionTreeClassifier()
dt1.fit(df2.drop("Crop_status",axis=1),df2["Crop_status"])
crop_dt1 = test[["ID"]]
crop_dt1["Crop_status"] = pd.DataFrame(dt1.predict(test2))[0]
crop_dt1
# crop_dt1.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_dt1.csv",index = False)

C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

          ID  Crop_status
0          1            1
1          2            1
2          3            1
3          4            2
4          5            1
...      ...          ...
34995  34996            0
34996  34997            0
34997  34998            0
34998  34999            0
34999  35000            0

[35000 rows x 2 columns]

In [83]:
crop_dt1["Crop_status"].value_counts()

0    28491
1     5462
2     1047
Name: Crop_status, dtype: int64

In [ ]:
# crop_dt1.to_csv("D:\\Skillenza_Bootcamp\\ML Level3\\Problem1\\crop_dt1.csv",index = False)