# VARIABLE

In [1]:
rent = 10000

In [2]:
gas = 700

In [3]:
groceries = 1000

In [4]:
totalexpense = rent + gas + groceries

In [7]:
print("Rent : ",rent," Gas :",gas," Groceries :",groceries)

Rent :  10000  Gas : 700  Groceries : 1000

In [8]:
print("Rent : ",rent,'\r\n'" Gas :",gas,'\r\n'" Groceries :",groceries)

Rent :  10000
 Gas : 700
 Groceries : 1000

# OPERATORS

In [9]:
a = 100

In [10]:
b = 200

In [11]:
address = a+b

In [12]:
address

300

In [13]:
a = 200
b = 10

In [14]:
d = a-b

In [15]:
d

190

In [16]:
e = a * b

In [17]:
e

2000

In [18]:
f = a/b

In [19]:
f

20.0

In [20]:
g = a%b

In [21]:
g

0

# EXPONENTIAL

In [22]:
a = 2
b = 3

In [23]:
exp = a**b

In [24]:
exp

8

In [25]:
8**3

512

In [26]:
2 ^ 3

1

# MODULO

In [27]:
a = 100
b = 20

In [28]:
mod = a%b

In [29]:
mod

0

# INTEGER DIVISION

In [30]:
id = a // b

In [31]:
id

5

In [32]:
a / b

5.0

In [33]:
a = 100
b = 3

In [35]:
a // b

33

# ASSIGNMENT OPERATOR

In [36]:
g1 = 100
g2 = 2
g2+=g1
g2

102

In [37]:
m1 = 100
m2 = 5
m2 -=m1
m2

-95

In [38]:
n1 = 25
n2 = 35
n2 *= n1
n2

875

In [39]:
p1 = 100
p2  = 3
p2 /= p1
p2

0.03

# COMPARISION OPERATOR

In [40]:
a = 100
b = 20

In [41]:
a > b

True

In [42]:
b < a

True

In [43]:
a == b

False

In [44]:
a != b

True

In [45]:
a >= b

True

In [47]:
b <= a

True

# LOGICAL OPERATORS

In [50]:
a = 100
b = 20
c = 10

In [54]:
(a > b)  & (b > c)

True

In [55]:
(a > b)  | (b > c)

True

# ERRORS

In [56]:
4 + spam + 3

NameError: name 'spam' is not defined

In [57]:
100/0

ZeroDivisionError: division by zero

In [58]:
2 + a

102

# CONTROL STATEMENTS

# IF THEN ELSE

In [59]:
a = 2

In [60]:
b = 20

In [61]:
if a>b:
    print("a is Greater")
else:
    print("b is Greater")

b is Greater

# GREATER THAN FOR 3 NUMBERS

In [62]:
a = 2
b = 20 
c = 25

In [63]:
if(a>b) and (b>c):
    print("a is greater")
elif(b>a) and (b>c):
    print("b is Greater")
else:
    print("c is Greater")

c is Greater

In [65]:
a =input("Enter the value for a  : ")
b =input("Enter the value for b  : ")
c = input("Enter the value for c : ")
if(a>b) and (b>c):
    print("a is greater")
elif(b>a) and (b>c):
    print("b is Greater")
else:
    print("c is Greater")

Enter the value for a  : 20
Enter the value for b  : 30
Enter the value for c : 15
b is Greater

In [66]:
# Input
n = [1,2,3,4,5,6]
# Declaring Variable for Sorting
sum = 0
# iterate the statement
for val in n:
    sum = sum +val
    print("Sum : ",sum)

Sum :  1
Sum :  3
Sum :  6
Sum :  10
Sum :  15
Sum :  21

In [67]:
# Input
n = [1,2,3,4,5,6]
# Declaring Variable for Sorting
mul = 1
# iterate the statement
for val in n:
    mul = mul  * val
    print("Multiplication : ",mul)

Multiplication :  1
Multiplication :  2
Multiplication :  6
Multiplication :  24
Multiplication :  120
Multiplication :  720

# FUNCTION

# SYNTAX OF FUNCTION

In [ ]:
def function_name(parameters):
    ***docstring****
    statement(s)

In [73]:
def msg(m):
    print(m,"Burra Thakkuva Vedava")

In [70]:
msg

In [76]:
msg("Nenu")

Nenu Burra Thakkuva Vedava

In [77]:
## Area of Square
def aos(a):
    print("Area Of Square :",a*a)

In [78]:
aos(23)

Area Of Square : 529

In [81]:
## Area of Square
def aos(a):
    print("Area Of Square :",a*a)

In [82]:
aos(23)

Area Of Square : 529

In [83]:
## Area of Circle
def aoc(r):
    print("Area of Circle :",(22/7)*r*r)

In [84]:
aoc(8)

Area of Circle : 201.14285714285714

In [86]:
## Area of Rectangle
def aor(l,b):
    print("Area of Rectangle :",l * b)

In [87]:
aor(12,25)

Area of Rectangle : 300

# BUILT IN FUNCTION

In [88]:
#module
import math

In [89]:
math.sqrt(4)

2.0

In [90]:
math.sin(90)

0.8939966636005579

In [91]:
import math
math.cos(100)

0.8623188722876839

In [92]:
import math
math.tan(100)

-0.5872139151569291

In [114]:
import statistics
data1 = [10,20,30,40,40,50]
print("Mean :",statistics.mean(data1))
print("Median :",statistics.median(data1))
print("Mode :",statistics.mode(data1))
print("Standard Deviation :",statistics.stdev(data1))
print("Variance :",statistics.variance(data1))

Mean : 31.666666666666668
Median : 35.0
Mode : 40
Standard Deviation : 14.719601443879746
Variance : 216.66666666666669

In [117]:
### Function for (a+b)^3
def cube(a,b):
    print("(a+b) ^ 3 :",(   (a*a*a)+ (b*b*b)+  (3*(a*a)*(b)) + (3*(a)*(b*b)) ))

In [118]:
cube(2,3)

(a+b) ^ 3 : 125