<h2 style='color:blue' align="center">Decision Tree Classification</h2>

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("salaries.csv")
df.head(30)

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [37]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [38]:
df['salary_more_then_100k'].unique()

array([0, 1], dtype=int64)

In [39]:
df['job'].unique()

array(['sales executive', 'business manager', 'computer programmer'],
      dtype=object)

In [40]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [41]:
df['company'].unique()

array(['google', 'abc pharma', 'facebook'], dtype=object)

In [42]:
df['job'].unique()

array(['sales executive', 'business manager', 'computer programmer'],
      dtype=object)

In [43]:
df['degree'].unique()

array(['bachelors', 'masters'], dtype=object)

In [44]:
df['salary_more_then_100k'].unique()

array([0, 1], dtype=int64)

In [45]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [46]:
X = df[['company', 'job', 'degree']]

In [47]:
y = df[['salary_more_then_100k']]

In [48]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [49]:
X['modified_compvalinnum'] = le_company.fit_transform(X['company'])
X['modified_jobvalinnum'] = le_job.fit_transform(X['job'])
X['modified_degvalinnum'] = le_degree.fit_transform(X['degree'])

In [50]:
X['modified_compvalinnum'].unique()

array([2, 0, 1])

In [51]:
X

,company,job,degree,modified_compvalinnum,modified_jobvalinnum,modified_degvalinnum
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0
5,google,computer programmer,masters,2,1,1
6,abc pharma,sales executive,masters,0,2,1
7,abc pharma,computer programmer,bachelors,0,1,0
8,abc pharma,business manager,bachelors,0,0,0
9,abc pharma,business manager,masters,0,0,1
10,facebook,sales executive,bachelors,1,2,0
11,facebook,sales executive,masters,1,2,1
12,facebook,business manager,bachelors,1,0,0
13,facebook,business manager,masters,1,0,1
14,facebook,computer programmer,bachelors,1,1,0
15,facebook,computer programmer,masters,1,1,1

In [52]:
X.columns

Index(['company', 'job', 'degree', 'modified_compvalinnum',
       'modified_jobvalinnum', 'modified_degvalinnum'],
      dtype='object')

In [54]:
X1 = X[['modified_compvalinnum',
       'modified_jobvalinnum', 'modified_degvalinnum']]

In [55]:
y

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [67]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [63]:
model.fit(X1, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [65]:
model.score(X1,y)

0.875

**Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?**

In [66]:
model.predict([[2,1,0]])

array([0], dtype=int64)

**Is salary of Google, Computer Engineer, Masters degree > 100 k ?**

In [15]:
model.predict([[2,1,1]])

array([1], dtype=int64)

**Exercise: Build decision tree model to predict survival based on certain parameters**

<img src="titanic.jpg" height=200 width=400/>

CSV file is available to download at https://github.com/codebasics/py/blob/master/ML/9_decision_tree/Exercise/titanic.csv

##### In this file using following columns build a model to predict if person would survive or not,

1. Pclass
1. Sex
1. Age
1. Fare

##### Calculate score of your model