In [1]:
import pandas as pd

In [2]:
sl = pd.read_csv("salaries.csv")

In [8]:
sl

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
sl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

In [4]:
sl["company"].unique()

array(['google', 'abc pharma', 'facebook'], dtype=object)

In [5]:
sl["job"].unique()

array(['sales executive', 'business manager', 'computer programmer'],
      dtype=object)

In [7]:
sl["degree"].unique()

array(['bachelors', 'masters'], dtype=object)

In [9]:
sl.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [10]:
X = sl[['company', 'job', 'degree']]

In [11]:
X

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [31]:
y = sl[["salary_more_then_100k"]]

In [15]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le_company = LabelEncoder()

In [19]:
le_job = LabelEncoder()

In [20]:
le_degree = LabelEncoder()

In [25]:
X["Modified_company"] = le_company.fit_transform(X['company'])
X["Modified_job"] = le_company.fit_transform(X['job'])
X["Modified_degree"] = le_company.fit_transform(X['degree'])

In [26]:
X

,company,job,degree,Modified_company,Modified_job,Modified_degree
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0
5,google,computer programmer,masters,2,1,1
6,abc pharma,sales executive,masters,0,2,1
7,abc pharma,computer programmer,bachelors,0,1,0
8,abc pharma,business manager,bachelors,0,0,0
9,abc pharma,business manager,masters,0,0,1
10,facebook,sales executive,bachelors,1,2,0
11,facebook,sales executive,masters,1,2,1
12,facebook,business manager,bachelors,1,0,0
13,facebook,business manager,masters,1,0,1
14,facebook,computer programmer,bachelors,1,1,0
15,facebook,computer programmer,masters,1,1,1

In [29]:
X["Modified_company"].unique()

array([2, 0, 1])

In [30]:
X.columns

Index(['company', 'job', 'degree', 'Modified_company', 'Modified_job',
       'Modified_degree'],
      dtype='object')

In [32]:
X1 = X[['Modified_company', 'Modified_job',
       'Modified_degree']]

In [33]:
y

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X1,y,train_size = 0.7)

In [44]:
x_train

    salary_more_then_100k
12                      1
2                       1
13                      1
9                       1
7                       0
15                      1
0                       0
3                       1
1                       0
10                      1
5                       1

In [34]:
from sklearn import tree

In [35]:
dt = tree.DecisionTreeClassifier()

In [36]:
dt

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [45]:
dt.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [55]:
y_pred = pd.Series(dt.predict(x_test))
y_pred

0    1
1    1
2    1
3    0
4    1
dtype: int64

In [62]:
y_test.reset_index(inplace=True)
y_test.drop(columns=["index"],inplace=True)
y_test

C:\Users\aakas\Anaconda\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   salary_more_then_100k
0                      0
1                      1
2                      1
3                      0
4                      0

In [63]:
y_both = pd.concat([y_test,y_pred],axis=1)
y_both.columns = ["Actual","Predicted"]
y_both

   Actual  Predicted
0       0          1
1       1          1
2       1          1
3       0          0
4       0          1

In [64]:
from sklearn import metrics

In [65]:
metrics.confusion_matrix(y_test,y_pred)

array([[1, 2],
       [0, 2]], dtype=int64)