In [264]:
import numpy as np
import pandas as pd

In [265]:
df = pd.read_csv("Cancer.csv")

In [266]:
df.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,Class,Max IP.1,I0.1,DA.1,PA500.1
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car,60.204880,524.794072,228.800228,0.187448
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car,69.717361,330.000000,121.154201,0.226893
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car,77.793297,551.879287,264.804935,0.232478
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701813,car,88.758446,380.000000,137.640111,0.240855
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car,69.389389,362.831266,124.912559,0.200713

In [267]:
print(df.isna().sum())

I0             0
PA500          0
HFS            0
DA             0
Area           0
A/DA        1266
Max IP      1266
DR          1266
P           1266
Class       1266
Max IP.1    1266
I0.1           0
DA.1           0
PA500.1        0
dtype: int64

In [268]:
df_class_notnull  = df[df["Class"].notnull()==True].drop(["A/DA","Max IP","DR","P","Max IP.1"],axis=1)
df_ADA_notnull    = df[df["A/DA"].notnull()==True].drop(["Class","Max IP","DR","P","Max IP.1"],axis=1)
df_maxip_notnull  = df[df["Max IP"].notnull()==True].drop(["A/DA","Class","DR","P","Max IP.1"],axis=1)
df_dr_notnull     = df[df["DR"].notnull()==True].drop(["A/DA","Max IP","Class","P","Max IP.1"],axis=1)
df_p_notnull      = df[df["P"].notnull()==True].drop(["A/DA","Max IP","DR","Class","Max IP.1"],axis=1)
df_Maxip1_notnull = df[df["Max IP.1"].notnull()==True].drop(["A/DA","Max IP","DR","P","Class"],axis=1)

In [269]:
df_class_isnull  = df[df["Class"].isnull()==True].drop(["A/DA","Max IP","DR","P","Max IP.1","Class"],axis=1)
df_ADA_isnull    = df[df["A/DA"].isnull()==True].drop(["Class","Max IP","DR","P","Max IP.1","A/DA"],axis=1)
df_maxip_isnull  = df[df["Max IP"].isnull()==True].drop(["A/DA","Class","DR","P","Max IP.1","Max IP"],axis=1)
df_dr_isnull     = df[df["DR"].isnull()==True].drop(["A/DA","Max IP","Class","P","Max IP.1","DR"],axis=1)
df_p_isnull      = df[df["P"].isnull()==True].drop(["A/DA","Max IP","DR","Class","Max IP.1","P"],axis=1)
df_Maxip1_isnull = df[df["Max IP.1"].isnull()==True].drop(["A/DA","Max IP","DR","P","Class","Max IP.1"],axis=1)

In [270]:
from xgboost import XGBClassifier
from xgboost import XGBRegressor

In [271]:
xgb = XGBClassifier()
xgb1 = XGBRegressor()
xgb2 = XGBRegressor()
xgb3 = XGBRegressor()
xgb4 = XGBRegressor()
xgb5 = XGBRegressor()

In [272]:
xgb.fit(df_class_notnull.drop("Class",axis=1),df_class_notnull.Class)
xgb1.fit(df_ADA_notnull.drop("A/DA",axis=1),df_ADA_notnull["A/DA"])
xgb2.fit(df_maxip_notnull.drop("Max IP",axis=1),df_maxip_notnull["Max IP"])
xgb3.fit(df_dr_notnull.drop("DR",axis=1),df_dr_notnull["DR"])
xgb4.fit(df_p_notnull.drop("P",axis=1),df_p_notnull["P"])
xgb5.fit(df_Maxip1_notnull.drop("Max IP.1",axis=1),df_Maxip1_notnull["Max IP.1"])

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [273]:
Class  = pd.DataFrame(xgb.predict(df_class_isnull))
ada    = pd.DataFrame(xgb1.predict(df_ADA_isnull))
maxip  = pd.DataFrame(xgb2.predict(df_maxip_isnull))
dr     = pd.DataFrame(xgb3.predict(df_dr_isnull))
p      = pd.DataFrame(xgb4.predict(df_p_isnull))
maxip1 = pd.DataFrame(xgb5.predict(df_Maxip1_isnull))

In [274]:
x = [df_class_isnull,df_ADA_isnull,df_dr_isnull,df_maxip_isnull,df_p_isnull,df_Maxip1_isnull]

In [275]:
for i in x:
    i.reset_index(drop=True,inplace=True)

In [276]:
df_class_isnull["Class"]     = Class
df_ADA_isnull["A/DA"]        = ada
df_maxip_isnull["Max IP"]    = maxip
df_dr_isnull["DR"]           = dr
df_p_isnull["P"]             = p
df_Maxip1_isnull["Max IP.1"] =maxip1

In [277]:
df_ADA_isnull

,I0,PA500,HFS,DA,Area,I0.1,DA.1,PA500.1,A/DA
0,2.31360,10.66510,-3.5288,-4.76720,0.0,2.31360,-4.76720,10.66510,4.565933
1,-1.85840,7.88600,-1.6643,-1.83840,0.0,-1.85840,-1.83840,7.88600,4.565933
2,3.10600,9.54140,-4.2536,-4.00300,0.0,3.10600,-4.00300,9.54140,4.565933
3,2.91630,10.83060,-3.3437,-4.12200,0.0,2.91630,-4.12200,10.83060,4.565933
4,3.99220,-4.46760,3.7304,-0.10950,0.0,3.99220,-0.10950,-4.46760,3.270667
...,...,...,...,...,...,...,...,...,...
1261,0.40614,1.34920,-1.4501,-0.55949,1.0,0.40614,-0.55949,1.34920,4.565933
1262,-1.38870,-4.87730,6.4774,0.34179,1.0,-1.38870,0.34179,-4.87730,3.270667
1263,-3.75030,-13.45860,17.5932,-2.77710,1.0,-3.75030,-2.77710,-13.45860,3.270667
1264,-3.56370,-8.38270,12.3930,-1.28230,1.0,-3.56370,-1.28230,-8.38270,3.270667
1265,-2.54190,-0.65804,2.6842,1.19520,1.0,-2.54190,1.19520,-0.65804,3.270667

In [278]:
 pd.concat([df_class_notnull,df_class_isnull])

,I0,PA500,HFS,DA,Area,Class,I0.1,DA.1,PA500.1
0,524.794072,0.187448,0.032114,228.800228,6843.598481,car,524.794072,228.800228,0.187448
1,330.000000,0.226893,0.265290,121.154201,3163.239472,car,330.000000,121.154201,0.226893
2,551.879287,0.232478,0.063530,264.804935,11888.391830,car,551.879287,264.804935,0.232478
3,380.000000,0.240855,0.286234,137.640111,5402.171180,car,380.000000,137.640111,0.240855
4,362.831266,0.200713,0.244346,124.912559,3290.462446,car,362.831266,124.912559,0.200713
...,...,...,...,...,...,...,...,...,...
1261,0.406140,1.349200,-1.450100,-0.559490,1.000000,fad,0.406140,-0.559490,1.349200
1262,-1.388700,-4.877300,6.477400,0.341790,1.000000,fad,-1.388700,0.341790,-4.877300
1263,-3.750300,-13.458600,17.593200,-2.777100,1.000000,fad,-3.750300,-2.777100,-13.458600
1264,-3.563700,-8.382700,12.393000,-1.282300,1.000000,fad,-3.563700,-1.282300,-8.382700
1265,-2.541900,-0.658040,2.684200,1.195200,1.000000,fad,-2.541900,1.195200,-0.658040