# PRESENT WORKING DIRECTORY

In [1]:
pwd

'C:\\Users\\aakas'

In [2]:

import os

In [3]:
os.path.abspath(os.path.curdir)

'C:\\Users\\aakas'

In [78]:
# If we want to change the directory the following is the syntax 
#os.chdir(r'#path that you want to give')

In [5]:
os.getcwd()

'C:\\Users\\aakas'

# CASE SENSITIVE

In [10]:
a = 100

In [11]:
A = 1000

In [12]:
print(a)

100

In [13]:
print(A)

1000

In [14]:
a1 = 777

In [15]:
a1 = 7777

In [16]:
a1

7777

# DATA TYPES

In [ ]:
Integer
Float
String
Bollean
List
Tuple
Dictionary

In [17]:
a = 100

In [18]:
type(a)

int

In [19]:
b = 200.12

In [20]:
type(b)

float

In [21]:
c = '007'

In [22]:
type(c)

str

In [24]:
d = True

In [25]:
type(d)

bool

# CHANGING THE DATATYPES

In [26]:
 a = '100'

In [30]:
a

'100'

In [27]:
type(a)

str

In [28]:
b = int(a)

In [29]:
b

100

In [31]:
a = int(a)

In [32]:
type(a)

int

In [33]:
a = 1000

In [34]:
a = float(a)

In [35]:
type(a)

float

In [36]:
a10 = "11"

In [37]:
type(a10)

str

In [38]:
a10 = int(a10)

In [39]:
type(a10)

int

In [40]:
a = 1

In [41]:
type(a)

int

In [42]:
a = bool(a)

In [43]:
type(a)

bool

In [44]:
a = 'india'

In [46]:
type(a)

str

In [79]:
# The following will not work
#a = int(a)

# LIST

# LIST MUTABLE

In [58]:
List1 = ["apple","orange","pineapple","grape"]

In [59]:
#INDEXING
List1[3]

'grape'

In [60]:
List1[2]

'pineapple'

In [61]:
List1[1:3]

['orange', 'pineapple']

In [62]:
### Mutability
List1[0] = "GreenApple"

In [63]:
List1[0]

'GreenApple'

In [64]:
List1

['GreenApple', 'orange', 'pineapple', 'grape']

# TUPLE

In [65]:
tuple1 = ('GreenApple', 'orange', 'pineapple', 'grape')

In [66]:
### They Are Immutable

# DICTIONARY

In [67]:
thedict = {
    "brand": "TATA",
    "model": "Harrier",
     "year" : "2019"
}

In [68]:
thedict

{'brand': 'TATA', 'model': 'Harrier', 'year': '2019'}

In [69]:
thedict["model"]

'Harrier'

In [72]:
thedict1 = {
    "one": 1,
    "two": 2,
    "three": 3
}

In [73]:
thedict1

{'one': 1, 'two': 2, 'three': 3}

# SET

In [74]:
theset = {"apple","orange","pineapple"}

In [75]:
theset

{'apple', 'orange', 'pineapple'}

In [76]:
## No Indexing can be done
## We can Update
theset.update(["Mango","Grape"])

In [77]:
theset

{'Grape', 'Mango', 'apple', 'orange', 'pineapple'}