In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("glass3.csv")

In [7]:
df.head()

        v1     v2    v3    v4     v5    v6    v7   v8   v9  class
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0      0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0      0

In [5]:
X = df.values[:,0:9]

In [4]:
y = df.values[:,9]

In [5]:
from collections import Counter

In [6]:
Counter(y)

Counter({0.0: 197, 1.0: 17})

In [7]:
from imblearn.under_sampling import RandomUnderSampler

In [8]:
rus = RandomUnderSampler()

In [9]:
rus

RandomUnderSampler()

In [11]:
X_resample,y_resample = rus.fit_resample(X,y)

In [12]:
Counter(y_resample)

Counter({0.0: 17, 1.0: 17})