In [19]:
import re
text  = "Akshay rol number is 11012225.Aakash rol number is 11012226"
pattern = r'\d\d\d\d\d\d\d\d'
regex = re.compile(pattern)
regex.findall(text)

['11012225', '11012226']

In [22]:
import re
text  = 'kalyan rol number is 1000.megna roll no is 1111'
pattern = r'\d\d\d\d'
regex = re.compile(pattern)
regex.findall(text)

['1000', '1111']

In [23]:
import re
text  = 'the number are 10 200 3000 405056'
pattern = r'\d{2,}'
regex = re.compile(pattern)
regex.findall(text)

['10', '200', '3000', '405056']

In [24]:
import re
text  = 'The numbers are 10000 2000000 3000000 405056000'
pattern = r'\d{4,}'
regex = re.compile(pattern)
regex.findall(text)

['10000', '2000000', '3000000', '405056000']

### finditer

In [32]:
import re
text  = 'Akshay rol number is 11012225.Aakash rol number is 11012226'
pattern = r'\d\d\d\d\d\d\d\d'
regex = re.compile(pattern)
regex.finditer(text)

In [39]:
if regex.finditer(text):
    for r in regex.finditer(text):
        print(r.group())
        print(r.start())
        print(r.end())
        print(r.span())
        print(r.re.pattern)
        print(r.string)
else:
    print("No Roll Number")

11012225
21
29
(21, 29)
\d\d\d\d\d\d\d\d
Akshay rol number is 11012225.Aakash rol number is 11012226
11012226
51
59
(51, 59)
\d\d\d\d\d\d\d\d
Akshay rol number is 11012225.Aakash rol number is 11012226

In [40]:
import re
text  = 'Kalyan roll is good person and the salary is 100000'
pattern = r'\d{2,}'
regex = re.compile(pattern)
regex.finditer(text)

if regex.finditer(text):
    for r in regex.finditer(text):
        print(r.span())

(45, 51)

In [43]:
if re.compile(r'\d{2,}').finditer('Kalyan roll is good person and the salary is 100000'):
    for r in re.compile(r'\d{2,}').finditer('Kalyan roll is good person and the salary is 100000'):
        print(r.span())

(45, 51)

# Substituting

In [47]:
import re
text  = 'Akshay rol number is 11012225.Aakash rol number is 11012226'
pattern = r'\d\d\d\d\d\d\d\d'
regex = re.compile(pattern)
regex.sub(r'********',text)

'Akshay rol number is ********.Aakash rol number is ********'

In [50]:
import re
text  = 'kalyan roll number is 10 and megna roll number is 20'
pattern = r'\d\d'
regex = re.compile(pattern)
regex.sub(r'*',text)

'kalyan roll number is * and megna roll number is *'

# Split

In [51]:
import re
text = 'kalyan is good boy and he earn nicely and residing in hyderabad'
pattern = r'and'
regex = re.compile(pattern)
regex.split(text)

['kalyan is good boy ', ' he earn nicely ', ' residing in hyderabad']

In [52]:
import re
text = 'kalyan is good boy or he earn nicely or residing in hyderabad'
pattern = r'or'
regex = re.compile(pattern)
regex.split(text)

['kalyan is good boy ', ' he earn nicely ', ' residing in hyderabad']

In [53]:
import re
text = 'kalyan is good boy and he earn nicely or residing in hyderabad'
pattern = r'and|or'
regex = re.compile(pattern)
regex.split(text)

['kalyan is good boy ', ' he earn nicely ', ' residing in hyderabad']

In [54]:
import re
text = 'kalyan is good boy and he earn nicely or residing in hyderabad'
pattern = r'\s'
regex = re.compile(pattern)
regex.split(text)

['kalyan',
 'is',
 'good',
 'boy',
 'and',
 'he',
 'earn',
 'nicely',
 'or',
 'residing',
 'in',
 'hyderabad']

# GROUPS

### Numbered Group

In [130]:
import re
text = 'Akshay rol number is cs1234'
pattern = r'(cs)(\d{2,})'
regex = re.compile(pattern)
regex.search(text).group()

'cs1234'

### Named Group

In [151]:
import re
text = 'Akshay rol number is   APVJ450078'
pattern = r'(?P<branch>APVJ)(?P<rollno>[0-9]+)'
regex = re.compile(pattern)
regex.search(text).group()

'APVJ450078'

In [140]:
re.search(r'(?P<branch>APVJ)(?P<rollno>\d{2,})','Akshay rol number is APVJ450078').group()

'APVJ450078'

### MetaCharacters

##### PIPE |

In [85]:
import re
text = 'my lucky number is 07 and 007'
pattern = r'\b(\d{2}|\d{3})\b'
regex = re.compile(pattern)
regex.findall(text)

['07', '007']

In [89]:
import re
text = 'my lucky number is 4222 and 56789'
pattern = r'\b(\d{4}|\d{5})\b'
regex = re.compile(pattern)
regex.findall(text)

['4222', '56789']

In [93]:
import re
text = 'the words are mat cat bat'
pattern = r'mat|cat|bat'
regex = re.compile(pattern)
regex.findall(text)

['mat', 'cat', 'bat']

In [94]:
import re
text = 'the words are mat cat bat'
pattern = r'(?:c|m|b)at'
regex = re.compile(pattern)
regex.findall(text)

['mat', 'cat', 'bat']

In [96]:
import re
text = 'the words are practice and practice]'
pattern = r'(?:prac)tice'
regex = re.compile(pattern)
regex.findall(text)

['practice', 'practice']

In [99]:
import re
text = 'the words are practice and practice'
pattern = r'practi(?:c|s)e'
regex = re.compile(pattern)
regex.findall(text)

['practice', 'practice']

In [114]:
import re
text = 'numbers are -20,20,-44,20'
pattern = r'\d{2,}'
regex = re.compile(pattern)
regex.findall(text)

['20', '20', '44', '20']

### Asteric

In [115]:
import re
text = 'the words are ac abbc abbbc'
pattern = r'ab*c'
regex = re.compile(pattern)
regex.findall(text)

['ac', 'abbc', 'abbbc']

In [172]:
import re
print(re.findall(r'^a...s$',"alias"))

['alias']

In [191]:
import re
print(re.findall(r'^a.*s$',"alyss"))

['alyss']

In [188]:
import re
print(re.findall(r'^The.*Hyderabad$',"The rain Hyderabad"))

['The rain Hyderabad']

### All Metacharacters

### 1.SquareBracket:A set of characters

In [209]:
import re
re.findall(r'[a-z]',"The rain Hyderabad")

['h', 'e', 'r', 'a', 'i', 'n', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd']

### 2.Slash(\):Signals a special sequence (can also be used to escape special characters)

In [210]:
import re
re.findall(r'\d\d\d',"rollnum is 105")

['105']

### 3.Dot(.)Any character (except newline character)

In [211]:
import re
re.findall(r'a.*h',"aakash")

['aakash']

### 4.Exponential(^) Starts with

In [212]:
import re
re.findall(r'^a.*',"aakash")

['aakash']

### 5.Dollar($) Ends with

In [213]:
import re
re.findall(r'.*y$',"akshay")

['akshay']

### 6.Astric(*) Zero or more occurrences

In [214]:
import re
re.findall(r'ain*',"The rain in Hyderabad Fall Mainly in lower areas")

['ain', 'ain']

### 7.Plus(+) One or more occurrences

In [216]:
import re
re.findall(r'\d+' ,"Phone Number is 9848514365")

['9848514365']

### 8.Paranthesis {} Exactly the specified number of occurrences

In [222]:
import re
re.findall(r'in{1}','Names are aakash aaravind aabhinav')

['in', 'in']

### 9.PIPE (|) Either or

In [226]:
import re
re.findall(r'\d{2,}|\d{3,}',"the numbers are 10,159")

['10', '159']

In [228]:
import re
re.findall(r'[0-5][0-6][0-9]',"the numbers are 10,159")

['159']

In [229]:
import re
re.findall(r'[a-zA-z]',"AEIOU aeiou")

['A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u']

In [237]:
import re
re.split(r'\s',"the names are alias alyss")

['the', 'names', 'are', 'alias', 'alyss']

# Regular_Expression(15-07-2020)

### Plus

In [1]:
import re
re.findall(r'\d+',"1 10 100 100")

['1', '10', '100', '100']

In [12]:
import re
re.match(r'([a-zA-z]+)(\d+)',"Kalyan100200").groups()

('Kalyan', '100200')

# STEMMING

In [20]:
words = ['first','time','see','second','renaissance','may','look'
'boring','look','least','twice','defenitel','watch','part','22',
'matrix','human','peolpe','ones''started','war','ai','bad','thing']

In [21]:
words

['first',
 'time',
 'see',
 'second',
 'renaissance',
 'may',
 'lookboring',
 'look',
 'least',
 'twice',
 'defenitel',
 'watch',
 'part',
 '22',
 'matrix',
 'human',
 'peolpe',
 'onesstarted',
 'war',
 'ai',
 'bad',
 'thing']

In [15]:
import nltk

In [17]:
from nltk.stem.porter import PorterStemmer

In [22]:
stemmed_words = [PorterStemmer().stem(w) for w in words]

In [30]:
import pandas as pd
words1 = ['tens','played','india','running']
stemmed_words1 = [PorterStemmer().stem(w) for w in words1]
display(pd.DataFrame(words1).transpose())
display(pd.DataFrame(stemmed_words1).transpose())

      0       1      2        3
0  tens  played  india  running

     0     1      2    3
0  ten  play  india  run

# LEMMATIZATION

In [31]:
words1 = ['tens','played','india','running','runner','people']

In [32]:
from nltk.stem.wordnet import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aakas\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [34]:
lemmatized_word = [WordNetLemmatizer().lemmatize(w,pos='v') for w in words1]
lemmatized_word

['tens', 'play', 'india', 'run', 'runner', 'people']

In [37]:
import pandas as pd
words1 = ['playing','dancing','walk','desk','watch','watching']
lemmatized_word = [WordNetLemmatizer().lemmatize(w,pos='v') for w in words1]
display(pd.DataFrame(words1).transpose())
display(pd.DataFrame(lemmatized_word).transpose())

         0        1     2     3      4         5
0  playing  dancing  walk  desk  watch  watching

      0      1     2     3      4      5
0  play  dance  walk  desk  watch  watch

# TOKENIZER

In [38]:
from nltk.tokenize import sent_tokenize

In [41]:
text = "Hello Aakash. Welcome to USA. You are Studying NLP"

In [42]:
sent_tokenize(text)

['Hello Aakash.', 'Welcome to USA.', 'You are Studying NLP']

In [44]:
text = 'India is my coutry. All indians as my brothers and sisters. I am proud of it'
sent_tokenize(text)

['India is my coutry.',
 'All indians as my brothers and sisters.',
 'I am proud of it']

# WHITE SPACE TOKENIZER

In [45]:
from nltk.tokenize import WhitespaceTokenizer

In [49]:
words = 'India is my country' 
WhitespaceTokenizer().tokenize(words)

['India', 'is', 'my', 'country']

In [51]:
words = 'All indians are my brothers and sisters'
WhitespaceTokenizer().tokenize(words)

['All', 'indians', 'are', 'my', 'brothers', 'and', 'sisters']