In [85]:
import numpy as np
import pandas as pd

In [86]:
df = pd.read_csv("OnlineRetail_csv_utf8.csv")

In [87]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [88]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [89]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [90]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [92]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [93]:
for i in df.columns:
    if df[i].dtype == object:
        df[i] = le.fit_transform(df[i]) 
    else:
        pass

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [58]:
len(df)

541909

In [59]:
# df[df.InvoiceNo.str.startswith("C",na=False)]
# df = df[ (~df.InvoiceNo.str.contains("C",na=False) ) & (~df.Quantity  < 0) &(~df.InvoiceNo.str.contains("A",na=False)) ]

In [60]:
len(df)

541909

In [61]:
df_Description_notnull = df[df.Description.notnull()].drop(["CustomerID","InvoiceDate"],axis=1)
df_CustomerID_notnull  = df[df.CustomerID.notnull()].drop(["Description","InvoiceDate"],axis=1)

df_Description_isnull  = df[df.Description.isnull()].drop(["CustomerID","InvoiceDate"],axis=1)
df_CustomerID_isnull  = df[df.CustomerID.isnull()].drop(["Description","InvoiceDate"],axis=1)

In [77]:
train_desc_x = df_Description_notnull.drop("Description",axis=1)
train_desc_y = df_Description_notnull.Description.to_frame()
train_cust_x = df_CustomerID_notnull.drop("CustomerID",axis=1)
train_cust_y = df_CustomerID_notnull.CustomerID.to_frame()

In [78]:
train_desc_y

                                Description
0        WHITE HANGING HEART T-LIGHT HOLDER
1                       WHITE METAL LANTERN
2            CREAM CUPID HEARTS COAT HANGER
3       KNITTED UNION FLAG HOT WATER BOTTLE
4            RED WOOLLY HOTTIE WHITE HEART.
...                                     ...
541904          PACK OF 20 SPACEBOY NAPKINS
541905         CHILDREN'S APRON DOLLY GIRL
541906        CHILDRENS CUTLERY DOLLY GIRL
541907      CHILDRENS CUTLERY CIRCUS PARADE
541908        BAKING SET 9 PIECE RETROSPOT

[540455 rows x 1 columns]

In [79]:
test_desc_x = df_Description_isnull.drop("Description",axis=1)
test_desc_y = df_Description_isnull.Description
test_cust_x = df_CustomerID_isnull.drop("CustomerID",axis=1)
test_cust_y = df_CustomerID_isnull.CustomerID

In [80]:
train_desc_y.head(5)

                           Description
0   WHITE HANGING HEART T-LIGHT HOLDER
1                  WHITE METAL LANTERN
2       CREAM CUPID HEARTS COAT HANGER
3  KNITTED UNION FLAG HOT WATER BOTTLE
4       RED WOOLLY HOTTIE WHITE HEART.

In [81]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [82]:
for column_name in train_desc_x.columns:
        if train_desc_x[column_name].dtype == object:
            train_desc_x[column_name] = le.fit_transform(train_desc_x[column_name])
        else:
            pass

In [83]:
for column_name in train_desc_x.columns:
            train_desc_y["Description"] = le.fit_transform(train_desc_y["Description"])

In [84]:
train_desc_y.head()

   Description
0         3918
1         3926
2          913
3         1910
4         2911

In [45]:
LabelEncoder().fit_transform(train_desc_x)

ValueError: y should be a 1d array, got an array of shape (540455, 5) instead.

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
lg = LogisticRegression()

In [44]:
lg.fit(train_desc_x,train_desc_y)

ValueError: could not convert string to float: '85049E'

In [6]:
df["Date"] = df.InvoiceDate.dt.date
df["Time"] = df.InvoiceDate.dt.time

In [7]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
Date                   object
Time                   object
dtype: object

In [8]:
df = df.reindex(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate','Date', 'Time',
       'UnitPrice', 'CustomerID', 'Country'],axis = 1)

In [9]:
df = df.drop(columns="InvoiceDate",axis=1)
df.head()

,InvoiceNo,StockCode,Description,Quantity,Date,Time,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,08:26:00,3.39,17850.0,United Kingdom

In [10]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
Date            object
Time            object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [11]:
df.Date = pd.to_datetime(df.Date)

In [12]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
Date           datetime64[ns]
Time                   object
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [13]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,Date,Time,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,08:26:00,3.39,17850.0,United Kingdom

In [24]:
# Transaction = df.drop(columns=["Description","Country"])
# Customer = df[["CustomerID","Country"]]
# Product = df[["StockCode","Description"]]

In [23]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
Date                0
Time                0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [31]:
(df.CustomerID.isna().sum()/len(df))*100

24.926694334288598

In [33]:
df.CustomerID.median()

15152.0

In [38]:
df[df.CustomerID == 15152.0]["CustomerID"].value_counts()

15152.0    278
Name: CustomerID, dtype: int64

In [54]:
for i in range(len(df.columns)):
    display(df[df.columns[i]].value_counts().to_frame().transpose())

,573585,581219,581492,580729,558475,579777,581217,537434,580730,538071,...,C560390,550980,550979,C578282,567152,550977,C548391,550976,550975,544443
InvoiceNo,1114,749,731,721,705,687,676,675,662,652,...,1,1,1,1,1,1,1,1,1,1

,85123A,22423,85099B,47566,20725,84879,22720,22197,21212,20727,...,35832,85031B,21268,84031a,35951,35969,35991,46776a,84251F,35644
StockCode,2313,2203,2159,1727,1639,1502,1477,1476,1385,1350,...,1,1,1,1,1,1,1,1,1,1

,WHITE HANGING HEART T-LIGHT HOLDER,REGENCY CAKESTAND 3 TIER,JUMBO BAG RED RETROSPOT,PARTY BUNTING,LUNCH BAG RED RETROSPOT,ASSORTED COLOUR BIRD ORNAMENT,SET OF 3 CAKE TINS PANTRY DESIGN,PACK OF 72 RETROSPOT CAKE CASES,LUNCH BAG BLACK SKULL.,NATURAL SLATE HEART CHALKBOARD,...,JARDIN ETCHED GLASS BUTTER DISH,michel oops,"BREAD BIN, DINER STYLE, MINT",BLUE GINGHAM ROSE CUSHION COVER,samples/damages,John Lewis,BIRD ON BRANCH CANVAS SCREEN,OPULENT VELVET SET/3 CANDLES,PINK/WHITE GLASS DEMI CHOKER,SET 10 CARDS 3 WISE MEN 17107
Description,2369,2200,2159,1727,1638,1501,1473,1385,1350,1280,...,1,1,1,1,1,1,1,1,1,1

,1,2,12,6,4,3,24,10,8,5,...,-1277,1284,-251,261,774,1287,-5368,267,-244,512
Quantity,148227,81829,61063,40868,38484,37121,24021,22288,13129,11757,...,1,1,1,1,1,1,1,1,1,1

,2011-12-05,2011-12-08,2011-11-29,2011-11-16,2011-11-11,2011-11-08,2011-11-22,2010-12-06,2011-11-24,2011-11-17,...,2011-05-29,2011-02-13,2011-07-03,2011-08-14,2011-08-07,2011-03-13,2010-12-19,2011-05-01,2010-12-22,2011-02-06
Date,5331,4940,4313,4195,4089,4070,3967,3878,3766,3621,...,632,624,602,557,541,537,522,452,291,279

,15:56:00,14:41:00,15:17:00,16:14:00,14:09:00,15:27:00,13:35:00,15:34:00,15:54:00,14:25:00,...,06:26:00,06:31:00,06:39:00,06:19:00,06:34:00,06:14:00,06:36:00,06:13:00,20:32:00,06:25:00
Time,2628,2554,2376,2372,2172,2099,2074,2053,2011,1939,...,1,1,1,1,1,1,1,1,1,1

,1.25,1.65,0.85,2.95,0.42,4.95,3.75,2.10,2.46,2.08,...,201.84,18.75,3.97,863.74,74.75,4575.64,125.96,147.13,3060.60,244.51
UnitPrice,50496,38181,28497,27768,24533,19040,18600,17697,17091,17005,...,1,1,1,1,1,1,1,1,1,1

,17841.0,14911.0,14096.0,12748.0,14606.0,15311.0,14646.0,13089.0,13263.0,14298.0,...,17923.0,16428.0,14119.0,15389.0,15369.0,13391.0,16579.0,13366.0,17763.0,17846.0
CustomerID,7983,5903,5128,4642,2782,2491,2085,1857,1677,1640,...,1,1,1,1,1,1,1,1,1,1

,United Kingdom,Germany,France,EIRE,Spain,Netherlands,Belgium,Switzerland,Portugal,Australia,...,Malta,United Arab Emirates,European Community,RSA,Lebanon,Lithuania,Brazil,Czech Republic,Bahrain,Saudi Arabia
Country,495478,9495,8557,8196,2533,2371,2069,2002,1519,1259,...,127,68,61,58,45,35,32,30,19,10

In [51]:
df1 = df.dropna()

In [53]:
len(df1)

406829

In [55]:
df1.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
Date           0
Time           0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [75]:
df1.groupby(["Date","Country"]).first()

                          InvoiceNo StockCode  \
Date       Country
2010-12-01 Australia         536389     22941
           EIRE              536540     22968
           France            536370     22728
           Germany           536527     22809
           Netherlands       536403     22867
...                             ...       ...
2011-12-09 Belgium           581493    79190B
           France            581587     22631
           Germany           581494     23084
           Norway            581476     23198
           United Kingdom    581475     22596

                                                   Description  Quantity  \
Date       Country
2010-12-01 Australia              CHRISTMAS LIGHTS 10 REINDEER         6
           EIRE                     ROSE COTTAGE KEEPSAKE BOX          4
           France                    ALARM CLOCK BAKELIKE PINK        24
           Germany                     SET OF 6 T-LIGHTS SANTA         6
           Netherlands                 HAND WARMER BIRD DESIGN        96
...                                                        ...       ...
2011-12-09 Belgium                    RETRO PLASTIC POLKA TRAY        15
           France                     CIRCUS PARADE LUNCH BOX         12
           Germany                          RABBIT NIGHT LIGHT        24
           Norway               PANTRY MAGNETIC  SHOPPING LIST        48
           United Kingdom  CHRISTMAS STAR WISH LIST CHALKBOARD        36

                               Time  UnitPrice  CustomerID
Date       Country
2010-12-01 Australia       10:03:00       8.50     12431.0
           EIRE            14:05:00       9.95     14911.0
           France          08:45:00       3.75     12583.0
           Germany         13:04:00       2.95     12662.0
           Netherlands     11:27:00       1.85     12791.0
...                             ...        ...         ...
2011-12-09 Belgium         10:10:00       0.42     12423.0
           France          12:50:00       1.95     12680.0
           Germany         10:13:00       1.79     12518.0
           Norway          08:48:00       1.25     12433.0
           United Kingdom  08:39:00       0.39     13069.0

[1682 rows x 7 columns]

In [76]:
df1.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'Date', 'Time',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')