In [26]:
import re 
re.findall(r'^|\d+', "My roll number is 105")

['', '105']

In [74]:
import re 
re.findall(r'[^A-Za-z0-9]', "@!#Aakash pursuing DataAnalytics Course in Imarticus of Batch PGA10")

['@', '!', '#', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [78]:
import re 
re.findall(r'\d{3,}', "My roll number is 105")

['105']

In [90]:
import pandas as pd
import re 
pd.DataFrame(re.findall(r'\S+', "@!#Aakash pursuing DataAnalytics Course in Imarticus of Batch PGA10")).transpose()

           0         1              2       3   4          5   6      7      8
0  @!#Aakash  pursuing  DataAnalytics  Course  in  Imarticus  of  Batch  PGA10

In [117]:
import re 
re.findall(r'(?=D)', " Aakash pursuing DataAnalytics Course in Imarticus of Batch PGA10")

['']