In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Iris.csv")

In [5]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
df[["Species"]] = pd.DataFrame(pd.DataFrame(df.Species.str.strip("Iris")).Species.str.strip("-"))

In [31]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0      1            5.1           3.5            1.4           0.2     setosa
1      2            4.9           3.0            1.4           0.2     setosa
2      3            4.7           3.2            1.3           0.2     setosa
3      4            4.6           3.1            1.5           0.2     setosa
4      5            5.0           3.6            1.4           0.2     setosa
..   ...            ...           ...            ...           ...        ...
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

[150 rows x 6 columns]

In [37]:
df.Species.unique().tolist()

['setosa', 'versicolo', 'virginica']

In [40]:
df.Species.replace(df.Species.unique().tolist(),[0,1,2],inplace = True)

In [41]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [32]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test = train_test_split(df.drop("Species",axis=1),df.Species,train_size=70)

In [46]:
y_test

88     1
10     0
98     1
40     0
65     1
      ..
99     1
112    2
61     1
142    2
52     1
Name: Species, Length: 80, dtype: int64

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
log = LogisticRegression()

In [50]:
log.fit(x_train,y_train)

C:\Users\aakas\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [66]:
y_pred = pd.DataFrame(log.predict(x_test))
y_pred

    0
0   1
1   0
2   1
3   0
4   1
.. ..
75  1
76  2
77  1
78  2
79  1

[80 rows x 1 columns]

In [58]:
from sklearn.metrics import confusion_matrix

In [60]:
confusion_matrix(y_test,y_pred)

array([[27,  0,  0],
       [ 0, 29,  0],
       [ 0,  0, 24]], dtype=int64)

In [83]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        27
           1       1.00      1.00      1.00        29
           2       1.00      1.00      1.00        24

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
Dt = DecisionTreeClassifier()

In [63]:
Dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [64]:
Dt.predict(x_test)

array([1, 0, 1, 0, 1, 0, 2, 1, 1, 2, 0, 2, 1, 0, 1, 1, 2, 2, 0, 1, 1, 0,
       2, 0, 2, 2, 2, 0, 2, 2, 0, 0, 1, 0, 1, 0, 2, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 2, 2, 0, 1, 0, 0, 2, 1, 0, 1, 2, 1, 2, 2, 2, 1, 1, 0, 2, 1,
       1, 0, 0, 0, 0, 2, 1, 2, 0, 2, 2, 1, 2, 1], dtype=int64)

In [80]:
x = pd.DataFrame()
x["Logistic_Predicted"] = list(y_pred[0])
x["DecisionTree_Predicted"] = Dt.predict(x_test).tolist()
x

    Logistic_Predicted  DecisionTree_Predicted
0                    1                       1
1                    0                       0
2                    1                       1
3                    0                       0
4                    1                       1
..                 ...                     ...
75                   1                       2
76                   2                       2
77                   1                       1
78                   2                       2
79                   1                       1

[80 rows x 2 columns]

In [20]:
## Checking a number is prime or not
a = int(input("Enter The Number :"))
if (a>1):
    for i in range(2,a):
        if(a%i==0):
            print(a,"is not a prime number")
            break
    else:
        print(a,"is a prime number")
else:
    print("Give the values more than 1")

Enter The Number :127
127 is a prime number

In [24]:
b = input("Enter the number")
if(b==b[::-1]):
    print(b,"is palindrome")
else:
    print(b,"is not a palindrome")

Enter the number123
123 is not a palindrome

In [33]:
st = "AAKASH is Pursuing Data Analytics in Imarticus"
count = 0
for i in st:
    if i.isupper():
        count+=1
print(count)

10