In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("OnlineRetail_csv_utf8.csv")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [5]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
df1 = df.dropna()
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [19]:
df1[df1["StockCode"].str.isalpha()]
# df1[df1["InvoiceNo"].str.isalpha()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
45,536370,POST,POSTAGE,3,01-12-2010 08:45,18.00,12583.0,France
141,C536379,D,Discount,-1,01-12-2010 09:41,27.50,14527.0,United Kingdom
386,536403,POST,POSTAGE,1,01-12-2010 11:27,15.00,12791.0,Netherlands
1123,536527,POST,POSTAGE,1,01-12-2010 13:04,18.00,12662.0,Germany
2239,536569,M,Manual,1,01-12-2010 15:35,1.25,16274.0,United Kingdom
...,...,...,...,...,...,...,...,...
541216,581494,POST,POSTAGE,2,09-12-2011 10:13,18.00,12518.0,Germany
541541,C581499,M,Manual,-1,09-12-2011 10:28,224.69,15498.0,United Kingdom
541730,581570,POST,POSTAGE,1,09-12-2011 11:59,18.00,12662.0,Germany
541767,581574,POST,POSTAGE,2,09-12-2011 12:09,18.00,12526.0,Germany
541768,581578,POST,POSTAGE,3,09-12-2011 12:16,18.00,12713.0,Germany

In [79]:
df1.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [80]:
df_desc = df[df.Description.isnull()].drop(["Description","CustomerID"],axis=1)
df_cust = df[df.CustomerID.isnull()].drop(["CustomerID","Description"],axis=1)

In [81]:
from sklearn.preprocessing import LabelEncoder

In [84]:
for i in df1.columns:
    if df1[i].dtype == object:
        df1[i] = LabelEncoder().fit_transform(df1[i])
for i in df_desc.columns:        
    if df_desc[i].dtype == object:
        df_desc[i] = LabelEncoder().fit_transform(df_desc[i])
for i in df_cust.columns:        
    if df_cust[i].dtype == object:
        df_cust[i] = LabelEncoder().fit_transform(df_cust[i])

C:\Users\aakas\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [91]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()

In [4]:
a = input("Enter String :")
if a[::-1] == a:
    print("Yes it is Palindrome")
else :
    print("No it is not Palindrome")

Enter String :dad
Yes it is Palindrome