In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
import numpy as np
options = Options()
options.add_argument('start-maximized')
# !pip3 install tabulate
from IPython.display import display
from tabulate import tabulate

In [93]:
# url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'
# ht = input("Enter Hall Ticket Number : ")
# cs = input("Enter Course : Bcom Bsc BA BBA ")
# driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
# driver.get(url)
# driver.find_element_by_id("htno").send_keys(ht)
# time.sleep(1)
# driver.find_element_by_id("Degree").send_keys(cs)
# time.sleep(1)
# driver.find_element_by_id('btnsubmit').click()
# time.sleep(1)
# driver.find_element_by_id("htno").clear()
# Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
# Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
# Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
# Personal_Information = []
# for i in Table1.find_elements_by_tag_name('td'):
#     Personal_Information.append(i.text)
# Personal_Information = Personal_Information[1:]
# PI = {}
# for (i,j) in zip(Personal_Information[::2],Personal_Information[1::2]):
#     PI[i] = [j]
# Marks_Details = []
# for i in Table2.find_elements_by_tag_name('td'):
#     Marks_Details.append(i.text)
# Marks_Details = Marks_Details[1:]
# Marks_Details[0:5]
# # [Marks_Details[5*i:5*(i+1)] for i in range(int(len(Marks_Details[5:])/10) + 1)]
# MI = [Marks_Details[i::5][1:] for i in range(len(Marks_Details[0:5])) ]
# MD = {}
# for (i,j) in zip(Marks_Details[0:5],MI):
#     MD[i] = j
# Result = []
# for i in Table3.find_elements_by_tag_name('td'):
#     Result.append(i.text)
# Result = Result[1:]
# # RI = [Result[3:][i::int(len(Result[3:])/2)] for i in range(int(len(Result[3:])/2))]
# RS = {}
# for (i,j) in zip(Result[0:3],Result[3:]):
#     RS[i] = [j]
# print(pd.DataFrame(PI).transpose().to_string(header=False))
# print("*"*80)
# print(pd.DataFrame(MD).to_string(index=False))
# print("*"*80)
# print(pd.DataFrame(RS).to_string(index=False))

Enter Hall Ticket Number : 105916467074
Enter Course : Bcom Bsc BA BBA bsc

C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").send_keys(ht)
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys(cs)
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('btnsubmit').click()
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").clear()
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3001334515.py:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

Hall Ticket No           105916467074
Name            N NAGA PRASANNA KUMAR
Father's Name              N SRINIVAS
Gender                              M
Medium                             EN
Course                            BSC
********************************************************************************
Subject Code              Subject Name Credits Grade Points Grade Secured
         750          MATHEMATICS.7 PR       1           10             O
         752        COMP. SCIENCE.7 PR       1           10             O
         850          MATHEMATICS.8 PR       1           10             O
         852        COMP. SCIENCE.8 PR       1           10             O
        759Q              GRAPH THEORY       2            9             A
        859T SECTORS OF INDIAN ECONOMY       2           10             O
         851           COMP. SCIENCE.8       3            9             A
         724           STATISTICS.7 PR       1           10             O
         849             MATHEMATICS.8       3           10             O
         823              STATISTICS.8       3           10             O
         824           STATISTICS.8 PR       1           10             O
         749             MATHEMATICS.7       3           10             O
         723              STATISTICS.7       3           10             O
         751           COMP. SCIENCE.7       3           10             O
********************************************************************************
Semester Result-SGPA CGPA
       6 PASSED-9.82 9.87

In [107]:
# url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'
# ht = input("Enter Hall Ticket Number : ")
# cs = input("Enter Course : Bcom Bsc BA BBA ")
# driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
# driver.get(url)
# driver.find_element_by_id("htno").send_keys(ht)
# time.sleep(1)
# driver.find_element_by_id("Degree").send_keys(cs)
# time.sleep(1)
# driver.find_element_by_id('btnsubmit').click()
# time.sleep(1)
# driver.find_element_by_id("htno").clear()
# Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
# Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
# Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
# Personal_Information = []
# for i in Table1.find_elements_by_tag_name('td'):
#     Personal_Information.append(i.text)
# Personal_Information = Personal_Information[1:]
# PI = {}
# for (i,j) in zip(Personal_Information[::2],Personal_Information[1::2]):
#     PI[i] = [j]
# Marks_Details = []
# for i in Table2.find_elements_by_tag_name('td'):
#     Marks_Details.append(i.text)
# Marks_Details = Marks_Details[1:]
# Marks_Details[0:5]
# # [Marks_Details[5*i:5*(i+1)] for i in range(int(len(Marks_Details[5:])/10) + 1)]
# MI = [Marks_Details[i::5][1:] for i in range(len(Marks_Details[0:5])) ]
# MD = {}
# for (i,j) in zip(Marks_Details[0:5],MI):
#     MD[i] = j
# Result = []
# for i in Table3.find_elements_by_tag_name('td'):
#     Result.append(i.text)
# Result = Result[1:]
# RT = pd.DataFrame(columns=Result[:3])
# lst = [list(i) for i in list(np.array_split(Result[3:],int(len(Result[3:])/3)))]
# for i in range(len(lst)):
#     RT.loc[i] = lst[i]
# print(pd.DataFrame(PI).transpose().to_string(header=False))
# print("*"*80)
# print(pd.DataFrame(MD).to_string(index=False))
# print("*"*80)
# print(RT.to_string(index=False))

Enter Hall Ticket Number : 105916467002
Enter Course : Bcom Bsc BA BBA Bsc

C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").send_keys(ht)
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys(cs)
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('btnsubmit').click()
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").clear()
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
C:\Users\aakas\AppData\Local\Temp/ipykernel_17316/3843400959.py:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

Hall Ticket No   105916467002
Name            ADUGANI ROHIT
Father's Name   ADUGANI AKASH
Gender                      M
Medium                     EN
Course                    BSC
********************************************************************************
Subject Code              Subject Name Credits Grade Points Grade Secured
         751           COMP. SCIENCE.7       3            5             E
         649             MATHEMATICS.6       3            8             B
         749             MATHEMATICS.7       3            9             A
         750          MATHEMATICS.7 PR       1            9             A
         752        COMP. SCIENCE.7 PR       1           10             O
        759Q              GRAPH THEORY       2            8             B
         852        COMP. SCIENCE.8 PR       1            9             A
         850          MATHEMATICS.8 PR       1            9             A
         849             MATHEMATICS.8       3            8             B
         724           STATISTICS.7 PR       1            7             C
        859T SECTORS OF INDIAN ECONOMY       2            6             D
         824           STATISTICS.8 PR       1           10             O
         623              STATISTICS.6       3            8             B
         723              STATISTICS.7       3            6             D
         823              STATISTICS.8       3            8             B
         851           COMP. SCIENCE.8       3            7             C
********************************************************************************
Semester    Result-SGPA CGPA
       5 COMPLETED-7.79 7.94
       6    PASSED-7.54 7.94

In [108]:
# rst = pd.DataFrame(columns=Result[:3])
# lst = [list(i) for i in list(np.array_split(Result[3:],int(len(Result[3:])/3)))]
# for i in range(len(lst)):
#     rst.loc[i] = lst[i]
# rst

In [127]:
RT.to_dict(orient='list')

{'Semester': ['5', '6'],
 'Result-SGPA': ['COMPLETED-7.79', 'PASSED-7.54'],
 'CGPA': ['7.94', '7.94']}

In [77]:
Result[3:][3:]

['6', 'PASSED-7.54', '7.94']

In [58]:
[Result[3:][i::3] for i in range(int(len(Result[3:])/2))]

[['5', '6'], ['COMPLETED-7.79', 'PASSED-7.54'], ['7.94', '7.94']]

In [117]:
[Result[3:][i::int(len(Result[3:])/2 + 1)] for i in range(int(len(Result[3:])/2))]

[['6', '9.87']]

In [2]:
# url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'
# # ht = input("Enter Hall Ticket Number : ")
# # cs = input("Enter Course : Bcom Bsc BA BBA ")
# driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
# driver.get(url)
# # ht = ["105916467074","105916487050","105916467084","105916467086","105916467057"]
# ht = []
# for i in range(48,51):
#     ht.append(f'1059164870{i:02}')
# Check_Result = []
# for i in range(len(ht)):
#     driver.find_element_by_id("htno").send_keys(ht[i])
#     time.sleep(1)
#     driver.find_element_by_id("Degree").send_keys("BSC")
#     time.sleep(1)
#     driver.find_element_by_id('btnsubmit').click()
#     time.sleep(1)
#     driver.find_element_by_id("htno").clear()
#     Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
#     Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
#     Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
#     Personal_Information = []
#     for i in Table1.find_elements_by_tag_name('td'):
#         Personal_Information.append(i.text)
#     Personal_Information = Personal_Information[1:]
#     PI = {}
#     for (i,j) in zip(Personal_Information[::2],Personal_Information[1::2]):
#         PI[i] = [j]
#     Marks_Details = []
#     for i in Table2.find_elements_by_tag_name('td'):
#         Marks_Details.append(i.text)
#     Marks_Details = Marks_Details[1:]
#     Marks_Details[0:5]
#     # [Marks_Details[5*i:5*(i+1)] for i in range(int(len(Marks_Details[5:])/10) + 1)]
#     MI = [Marks_Details[i::5][1:] for i in range(len(Marks_Details[0:5])) ]
#     MD = {}
#     for (i,j) in zip(Marks_Details[0:5],MI):
#         MD[i] = j
#     Result = []
#     for i in Table3.find_elements_by_tag_name('td'):
#         Result.append(i.text)
#     Result = Result[1:]
#     RT = pd.DataFrame(columns=Result[:3])
#     lst = [list(i) for i in list(np.array_split(Result[3:],int(len(Result[3:])/3)))]
#     for i in range(len(lst)):
#         RT.loc[i] = lst[i]
#     RT = RT.to_dict(orient='list')
#     Check_Result.append(list(zip([PI],[MD],[RT])))

In [4]:
url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'
# ht = input("Enter Hall Ticket Number : ")
# cs = input("Enter Course : Bcom Bsc BA BBA ")
driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
driver.get(url)
# ht = ["105916467074","105916487050","105916467084","105916467086","105916467057"]
ht = []
for i in range(70,75):
    ht.append(f'105916467{i:03}')
Check_Result = []
for i in range(len(ht)):
    driver.find_element_by_id("htno").send_keys(ht[i])
    time.sleep(1)
    driver.find_element_by_id("Degree").send_keys("BSC")
    time.sleep(1)
    driver.find_element_by_id('btnsubmit').click()
    time.sleep(1)
    driver.find_element_by_id("htno").clear()
    if [driver.find_element_by_xpath('//span[@id="sMsg"]').text][0].strip(".") == 'Invalid Hall Ticket No':
        Check_Result.append('Invalid Hall Ticket No')
        continue
    else:
        Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
        Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
        Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
        Personal_Information = []
        for i in Table1.find_elements_by_tag_name('td'):
            Personal_Information.append(i.text)
        Personal_Information = Personal_Information[1:]
        PI = {}
        for (i,j) in zip(Personal_Information[::2],Personal_Information[1::2]):
            PI[i] = [j]
        Marks_Details = []
        for i in Table2.find_elements_by_tag_name('td'):
            Marks_Details.append(i.text)
        Marks_Details = Marks_Details[1:]
        Marks_Details[0:5]
        # [Marks_Details[5*i:5*(i+1)] for i in range(int(len(Marks_Details[5:])/10) + 1)]
        MI = [Marks_Details[i::5][1:] for i in range(len(Marks_Details[0:5])) ]
        MD = {}
        for (i,j) in zip(Marks_Details[0:5],MI):
            MD[i] = j
        Result = []
        for i in Table3.find_elements_by_tag_name('td'):
            Result.append(i.text)
        Result = Result[1:]
        RT = pd.DataFrame(columns=Result[:3])
        lst = [list(i) for i in list(np.array_split(Result[3:],int(len(Result[3:])/3)))]
        for i in range(len(lst)):
            RT.loc[i] = lst[i]
        RT = RT.to_dict(orient='list')
        Check_Result.append(list(zip([PI],[MD],[RT])))

C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").send_keys(ht[i])
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys("BSC")
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('btnsubmit').click()
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").clear()
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:19: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  if [driver.find_element_by_xpath('//span[@id="sMsg"]').text][0].strip(".") == 'Invalid Hall Ticket No':
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')
C:\Users\aakas\AppData\Local\Temp/ipykernel_4920/2079865142.py:25: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')
C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [7]:
roll= input("Enter Last Three Digits :")
print("   ")
for i in ht:
    if i[9:] == roll:
        if Check_Result[ht.index(i)] == 'Invalid Hall Ticket No':
            print("-" * 30)
            print("   ",'Invalid Hall Ticket No')
        else:     
            print(tabulate(pd.DataFrame(Check_Result[ht.index(i)][0][0]).transpose(),tablefmt='pretty'))
            print(" ")
            print(tabulate(pd.DataFrame(Check_Result[ht.index(i)][0][1]),showindex=False,headers =pd.DataFrame(Check_Result[0][0][1]).columns,tablefmt='pretty'))
            print(" ")
            print(tabulate(pd.DataFrame(Check_Result[ht.index(i)][0][2]),showindex=False,headers =pd.DataFrame(Check_Result[0][0][2]).columns,tablefmt='pretty'))

Enter Last Three Digits :072

+----------------+---------------+
| Hall Ticket No | 105916467072  |
|      Name      | M VIJAY KUMAR |
| Father's Name  | M MOKKA RAJU  |
|     Gender     |       M       |
|     Medium     |      EN       |
|     Course     |      BSC      |
+----------------+---------------+

+--------------+----------------------------+---------+--------------+---------------+
| Subject Code |        Subject Name        | Credits | Grade Points | Grade Secured |
+--------------+----------------------------+---------+--------------+---------------+
|     649      |       MATHEMATICS.6        |    3    |      0       |       F       |
|     223      |        STATISTICS.2        |    4    |      0       |       F       |
|     249      |       MATHEMATICS.2        |    4    |      0       |       F       |
|     750      |      MATHEMATICS.7 PR      |    1    |      9       |       A       |
|     752      |     COMP. SCIENCE.7 PR     |    1    |      9       |       A       |
|     423      |        STATISTICS.4        |    4    |      0       |       F       |
|     523      |        STATISTICS.5        |    3    |      0       |       F       |
|     549      |       MATHEMATICS.5        |    3    |      0       |       F       |
|     850      |      MATHEMATICS.8 PR      |    1    |      7       |       C       |
|     852      |     COMP. SCIENCE.8 PR     |    1    |      7       |       C       |
|     651      |      COMP. SCIENCE.6       |    3    |      0       |       F       |
|     759Q     |        GRAPH THEORY        |    2    |      0       |       F       |
|     323      |        STATISTICS.3        |    4    |      -       |      Ab       |
|     123      |        STATISTICS.1        |    4    |      0       |       F       |
|     749      |       MATHEMATICS.7        |    3    |      0       |       F       |
|     851      |      COMP. SCIENCE.8       |    3    |      0       |       F       |
|     859T     | SECTORS OF INDIAN ECONOMY  |    2    |      8       |       B       |
|     724      |      STATISTICS.7 PR       |    1    |      6       |       D       |
|     351      |      COMP. SCIENCE.3       |    4    |      0       |       F       |
|     823      |        STATISTICS.8        |    3    |      0       |       F       |
|     551      |      COMP. SCIENCE.5       |    3    |      0       |       F       |
|     151      |      COMP. SCIENCE.1       |    4    |      0       |       F       |
|     751      |      COMP. SCIENCE.7       |    3    |      0       |       F       |
|     824      |      STATISTICS.8 PR       |    1    |      8       |       B       |
|     251      |      COMP. SCIENCE.2       |    4    |      0       |       F       |
|     451      |      COMP. SCIENCE.4       |    4    |      -       |      Ab       |
|     849      |       MATHEMATICS.8        |    3    |      0       |       F       |
|     623      |        STATISTICS.6        |    3    |      0       |       F       |
|     723      |        STATISTICS.7        |    3    |      0       |       F       |
|     559Q     | PROBABILITY AND STATISTICS |    2    |      0       |       F       |
+--------------+----------------------------+---------+--------------+---------------+

+----------+------------------+------+
| Semester |   Result-SGPA    | CGPA |
+----------+------------------+------+
|    1     | ALREADY PROMOTED |  -   |
|    2     | ALREADY PROMOTED |  -   |
|    3     | ALREADY PROMOTED |  -   |
|    4     | ALREADY PROMOTED |  -   |
|    4     | ALREADY PROMOTED |  -   |
|    5     | ALREADY PROMOTED |  -   |
|    6     |      FAILED      |  -   |
+----------+------------------+------+

In [15]:
# roll= input("Enter Last Three Digits :")
# print("   ")
# for i in ht:
#     if i[9:] == roll:
#         if Check_Result[ht.index(i)] == 'Invalid Hall Ticket No':
#             print("-" * 30)
#             print("   ",'Invalid Hall Ticket No')
#         else:     
#             print(pd.DataFrame(Check_Result[ht.index(i)][0][0]).transpose().to_string(header=False))
#             print("-"*80)
#             print(pd.DataFrame(Check_Result[ht.index(i)][0][1]).to_string(index=False))
#             print("-"*80)
#             print(pd.DataFrame(Check_Result[ht.index(i)][0][2]).to_string(index=False))

Enter Last Three Digits :074

Hall Ticket No           105916467074
Name            N NAGA PRASANNA KUMAR
Father's Name              N SRINIVAS
Gender                              M
Medium                             EN
Course                            BSC
--------------------------------------------------------------------------------
Subject Code              Subject Name Credits Grade Points Grade Secured
         750          MATHEMATICS.7 PR       1           10             O
         752        COMP. SCIENCE.7 PR       1           10             O
         850          MATHEMATICS.8 PR       1           10             O
         852        COMP. SCIENCE.8 PR       1           10             O
        759Q              GRAPH THEORY       2            9             A
        859T SECTORS OF INDIAN ECONOMY       2           10             O
         851           COMP. SCIENCE.8       3            9             A
         724           STATISTICS.7 PR       1           10             O
         849             MATHEMATICS.8       3           10             O
         823              STATISTICS.8       3           10             O
         824           STATISTICS.8 PR       1           10             O
         749             MATHEMATICS.7       3           10             O
         723              STATISTICS.7       3           10             O
         751           COMP. SCIENCE.7       3           10             O
--------------------------------------------------------------------------------
Semester Result-SGPA CGPA
       6 PASSED-9.82 9.87

In [42]:
for i in range(0,116):
    print(i," ",end="")

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115

In [52]:
Invalid = []
for i in Check_Result:
    if i == 'Invalid Hall Ticket No':
        Invalid.append(i)
len(Invalid)

14

In [53]:
Invalid

['Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No',
 'Invalid Hall Ticket No']

In [57]:
display(pd.DataFrame(Check_Result[0][0][0]).transpose())
display(pd.DataFrame(Check_Result[0][0][1]))
display(pd.DataFrame(Check_Result[0][0][2]))

                                  0
Hall Ticket No         105916467070
Name            MUDDA RAJA NANDINEE
Father's Name         MUDDA KISHORE
Gender                            F
Medium                           EN
Course                          BSC

   Subject Code               Subject Name Credits Grade Points Grade Secured
0           750           MATHEMATICS.7 PR       1           10             O
1           752         COMP. SCIENCE.7 PR       1           10             O
2           850           MATHEMATICS.8 PR       1           10             O
3           852         COMP. SCIENCE.8 PR       1           10             O
4           651            COMP. SCIENCE.6       3            9             A
5          759Q               GRAPH THEORY       2            9             A
6           851            COMP. SCIENCE.8       3            9             A
7          859T  SECTORS OF INDIAN ECONOMY       2            9             A
8           724            STATISTICS.7 PR       1           10             O
9           849              MATHEMATICS.8       3           10             O
10          823               STATISTICS.8       3            5             E
11          824            STATISTICS.8 PR       1           10             O
12          751            COMP. SCIENCE.7       3            8             B
13          723               STATISTICS.7       3            8             B
14          749              MATHEMATICS.7       3            9             A

  Semester     Result-SGPA  CGPA
0        5  COMPLETED-8.43  8.67
1        6     PASSED-8.68  8.67

In [71]:
Table_Formats = ["plain","simple","github","grid","fancy_grid","pipe","orgtbl","jira","presto","pretty","psql","rst","mediawiki",
"moinmoin","youtrack","html","unsafehtml","latex","latex_raw","latex_booktabs","latex_longtable","textile","tsv"]

In [96]:
for (i,j) in zip(Table_Formats,range(len(Table_Formats))):
    print(" ")
    print(f'{j+1}.',f'{i}'.capitalize(),'Table Format')
    print(" ")
    print(tabulate(pd.DataFrame(Check_Result[0][0][0]).transpose(),tablefmt=i))

1. Plain Table Format

Hall Ticket No  105916467070
Name            MUDDA RAJA NANDINEE
Father's Name   MUDDA KISHORE
Gender          F
Medium          EN
Course          BSC

2. Simple Table Format

--------------  -------------------
Hall Ticket No  105916467070
Name            MUDDA RAJA NANDINEE
Father's Name   MUDDA KISHORE
Gender          F
Medium          EN
Course          BSC
--------------  -------------------

3. Github Table Format

|----------------|---------------------|
| Hall Ticket No | 105916467070        |
| Name           | MUDDA RAJA NANDINEE |
| Father's Name  | MUDDA KISHORE       |
| Gender         | F                   |
| Medium         | EN                  |
| Course         | BSC                 |

4. Grid Table Format

+----------------+---------------------+
| Hall Ticket No | 105916467070        |
+----------------+---------------------+
| Name           | MUDDA RAJA NANDINEE |
+----------------+---------------------+
| Father's Name  | MUDDA KISHORE       |
+----------------+---------------------+
| Gender         | F                   |
+----------------+---------------------+
| Medium         | EN                  |
+----------------+---------------------+
| Course         | BSC                 |
+----------------+---------------------+

5. Fancy_grid Table Format

╒════════════════╤═════════════════════╕
│ Hall Ticket No │ 105916467070        │
├────────────────┼─────────────────────┤
│ Name           │ MUDDA RAJA NANDINEE │
├────────────────┼─────────────────────┤
│ Father's Name  │ MUDDA KISHORE       │
├────────────────┼─────────────────────┤
│ Gender         │ F                   │
├────────────────┼─────────────────────┤
│ Medium         │ EN                  │
├────────────────┼─────────────────────┤
│ Course         │ BSC                 │
╘════════════════╧═════════════════════╛

6. Pipe Table Format

|:---------------|:--------------------|
| Hall Ticket No | 105916467070        |
| Name           | MUDDA RAJA NANDINEE |
| Father's Name  | MUDDA KISHORE       |
| Gender         | F                   |
| Medium         | EN                  |
| Course         | BSC                 |

7. Orgtbl Table Format

| Hall Ticket No | 105916467070        |
| Name           | MUDDA RAJA NANDINEE |
| Father's Name  | MUDDA KISHORE       |
| Gender         | F                   |
| Medium         | EN                  |
| Course         | BSC                 |

8. Jira Table Format

| Hall Ticket No | 105916467070        |
| Name           | MUDDA RAJA NANDINEE |
| Father's Name  | MUDDA KISHORE       |
| Gender         | F                   |
| Medium         | EN                  |
| Course         | BSC                 |

9. Presto Table Format

 Hall Ticket No | 105916467070
 Name           | MUDDA RAJA NANDINEE
 Father's Name  | MUDDA KISHORE
 Gender         | F
 Medium         | EN
 Course         | BSC

10. Pretty Table Format

+----------------+---------------------+
| Hall Ticket No |    105916467070     |
|      Name      | MUDDA RAJA NANDINEE |
| Father's Name  |    MUDDA KISHORE    |
|     Gender     |          F          |
|     Medium     |         EN          |
|     Course     |         BSC         |
+----------------+---------------------+

11. Psql Table Format

+----------------+---------------------+
| Hall Ticket No | 105916467070        |
| Name           | MUDDA RAJA NANDINEE |
| Father's Name  | MUDDA KISHORE       |
| Gender         | F                   |
| Medium         | EN                  |
| Course         | BSC                 |
+----------------+---------------------+

12. Rst Table Format

==============  ===================
Hall Ticket No  105916467070
Name            MUDDA RAJA NANDINEE
Father's Name   MUDDA KISHORE
Gender          F
Medium          EN
Course          BSC
==============  ===================

13. Mediawiki Table Format

{| class="wikitable" style="text-align: left;"
|+ <!-- caption -->
|-
| Hall Ticket No || 105916467070
|-
| Name           || MUDDA RAJA NANDINEE
|-
| Father's Name  || MUDDA KISHORE
|-
| Gender         || F
|-
| Medium         || EN
|-
| Course         || BSC
|}

14. Moinmoin Table Format

||  Hall Ticket No  ||  105916467070         ||
||  Name            ||  MUDDA RAJA NANDINEE  ||
||  Father's Name   ||  MUDDA KISHORE        ||
||  Gender          ||  F                    ||
||  Medium          ||  EN                   ||
||  Course          ||  BSC                  ||

15. Youtrack Table Format

|  Hall Ticket No  |  105916467070         |
|  Name            |  MUDDA RAJA NANDINEE  |
|  Father's Name   |  MUDDA KISHORE        |
|  Gender          |  F                    |
|  Medium          |  EN                   |
|  Course          |  BSC                  |

16. Html Table Format

<table>
<tbody>
<tr><td>Hall Ticket No</td><td>105916467070       </td></tr>
<tr><td>Name          </td><td>MUDDA RAJA NANDINEE</td></tr>
<tr><td>Father&#x27;s Name </td><td>MUDDA KISHORE      </td></tr>
<tr><td>Gender        </td><td>F                  </td></tr>
<tr><td>Medium        </td><td>EN                 </td></tr>
<tr><td>Course        </td><td>BSC                </td></tr>
</tbody>
</table>

17. Unsafehtml Table Format

<table>
<tbody>
<tr><td>Hall Ticket No</td><td>105916467070       </td></tr>
<tr><td>Name          </td><td>MUDDA RAJA NANDINEE</td></tr>
<tr><td>Father's Name </td><td>MUDDA KISHORE      </td></tr>
<tr><td>Gender        </td><td>F                  </td></tr>
<tr><td>Medium        </td><td>EN                 </td></tr>
<tr><td>Course        </td><td>BSC                </td></tr>
</tbody>
</table>

18. Latex Table Format

\begin{tabular}{ll}
\hline
 Hall Ticket No & 105916467070        \\
 Name           & MUDDA RAJA NANDINEE \\
 Father's Name  & MUDDA KISHORE       \\
 Gender         & F                   \\
 Medium         & EN                  \\
 Course         & BSC                 \\
\hline
\end{tabular}

19. Latex_raw Table Format

\begin{tabular}{ll}
\hline
 Hall Ticket No & 105916467070        \\
 Name           & MUDDA RAJA NANDINEE \\
 Father's Name  & MUDDA KISHORE       \\
 Gender         & F                   \\
 Medium         & EN                  \\
 Course         & BSC                 \\
\hline
\end{tabular}

20. Latex_booktabs Table Format

\begin{tabular}{ll}
\toprule
 Hall Ticket No & 105916467070        \\
 Name           & MUDDA RAJA NANDINEE \\
 Father's Name  & MUDDA KISHORE       \\
 Gender         & F                   \\
 Medium         & EN                  \\
 Course         & BSC                 \\
\bottomrule
\end{tabular}

21. Latex_longtable Table Format

\begin{longtable}{ll}
\hline
 Hall Ticket No & 105916467070        \\
 Name           & MUDDA RAJA NANDINEE \\
 Father's Name  & MUDDA KISHORE       \\
 Gender         & F                   \\
 Medium         & EN                  \\
 Course         & BSC                 \\
\hline
\end{longtable}

22. Textile Table Format

|<. Hall Ticket No  |<. 105916467070        |
|<. Name            |<. MUDDA RAJA NANDINEE |
|<. Father's Name   |<. MUDDA KISHORE       |
|<. Gender          |<. F                   |
|<. Medium          |<. EN                  |
|<. Course          |<. BSC                 |

23. Tsv Table Format

Hall Ticket No	105916467070
Name          	MUDDA RAJA NANDINEE
Father's Name 	MUDDA KISHORE
Gender        	F
Medium        	EN
Course        	BSC

In [63]:
print(tabulate(pd.DataFrame(Check_Result[0][0][0]).transpose(),tablefmt='grid'))

+----------------+---------------------+
| Hall Ticket No | 105916467070        |
+----------------+---------------------+
| Name           | MUDDA RAJA NANDINEE |
+----------------+---------------------+
| Father's Name  | MUDDA KISHORE       |
+----------------+---------------------+
| Gender         | F                   |
+----------------+---------------------+
| Medium         | EN                  |
+----------------+---------------------+
| Course         | BSC                 |
+----------------+---------------------+

In [97]:
print(tabulate(pd.DataFrame(Check_Result[0][0][0]).transpose(),tablefmt='pretty'))
print(" ")
print(tabulate(pd.DataFrame(Check_Result[0][0][1]),showindex=False,headers =pd.DataFrame(Check_Result[0][0][1]).columns,tablefmt='pretty'))
print(" ")
print(tabulate(pd.DataFrame(Check_Result[0][0][2]),showindex=False,headers =pd.DataFrame(Check_Result[0][0][2]).columns,tablefmt='pretty'))

+----------------+---------------------+
| Hall Ticket No |    105916467070     |
|      Name      | MUDDA RAJA NANDINEE |
| Father's Name  |    MUDDA KISHORE    |
|     Gender     |          F          |
|     Medium     |         EN          |
|     Course     |         BSC         |
+----------------+---------------------+

+--------------+---------------------------+---------+--------------+---------------+
| Subject Code |       Subject Name        | Credits | Grade Points | Grade Secured |
+--------------+---------------------------+---------+--------------+---------------+
|     750      |     MATHEMATICS.7 PR      |    1    |      10      |       O       |
|     752      |    COMP. SCIENCE.7 PR     |    1    |      10      |       O       |
|     850      |     MATHEMATICS.8 PR      |    1    |      10      |       O       |
|     852      |    COMP. SCIENCE.8 PR     |    1    |      10      |       O       |
|     651      |      COMP. SCIENCE.6      |    3    |      9       |       A       |
|     759Q     |       GRAPH THEORY        |    2    |      9       |       A       |
|     851      |      COMP. SCIENCE.8      |    3    |      9       |       A       |
|     859T     | SECTORS OF INDIAN ECONOMY |    2    |      9       |       A       |
|     724      |      STATISTICS.7 PR      |    1    |      10      |       O       |
|     849      |       MATHEMATICS.8       |    3    |      10      |       O       |
|     823      |       STATISTICS.8        |    3    |      5       |       E       |
|     824      |      STATISTICS.8 PR      |    1    |      10      |       O       |
|     751      |      COMP. SCIENCE.7      |    3    |      8       |       B       |
|     723      |       STATISTICS.7        |    3    |      8       |       B       |
|     749      |       MATHEMATICS.7       |    3    |      9       |       A       |
+--------------+---------------------------+---------+--------------+---------------+

+----------+----------------+------+
| Semester |  Result-SGPA   | CGPA |
+----------+----------------+------+
|    5     | COMPLETED-8.43 | 8.67 |
|    6     |  PASSED-8.68   | 8.67 |
+----------+----------------+------+

In [53]:
# !pip install prettytable
# from prettytable import PrettyTable
pd.DataFrame(Check_Result[0][0][2]).to_string(index=False)

SyntaxError: unmatched ')' (Temp/ipykernel_16216/1416838462.py, line 3)