In [26]:
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.options import Options
import chromedriver_autoinstaller as chromedriver
from webdriver_manager.chrome import ChromeDriverManager
chromedriver.install()
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from IPython.display import display,HTML
import time
import pandas as pd

In [9]:
options = Options()
options.add_argument('start-maximized')

In [6]:
url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'

In [7]:
ht = input("Enter Hall Ticket Number : ")
cs = input("Enter Course : Bcom Bsc BA BBA ")
driver = webdriver.Chrome(options=options,service=Service(ChromeDriverManager().install())) 
driver.get(url)
driver.find_element(By.ID,"htno").send_keys(ht)
time.sleep(1)
driver.find_element(By.ID,"Degree").send_keys(cs)
time.sleep(1)
driver.find_element(By.ID,'btnsubmit').click()

Enter Hall Ticket Number : 105916467074
Enter Course : Bcom Bsc BA BBA Bsc

INFO:WDM:

====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
Current google-chrome version is 102.0.5005
INFO:WDM:Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
INFO:WDM:Get LATEST chromedriver version for 102.0.5005 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/102.0.5005.61/chromedriver_win32.zip
INFO:WDM:Trying to download new driver from https://chromedriver.storage.googleapis.com/102.0.5005.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\aakas\.wdm\drivers\chromedriver\win32\102.0.5005.61]
INFO:WDM:Driver has been saved in cache [C:\Users\aakas\.wdm\drivers\chromedriver\win32\102.0.5005.61]

In [10]:
BS = BeautifulSoup(driver.page_source,'html.parser')

In [25]:
# BS.find_all('div',id='subhtm')[0].find_all('table')[0]
# BS.find_all('div',id='subhtm')[0].find_all('table')[1]
BS.find_all('div',id='subhtm')[0].find_all('table')[2]

<table cellpadding="0" cellspacing="0" width="100%"> <tbody><tr><td colspan="3" style="background-color:bed6e0; text-align:center;"><b>Result</b></td></tr><tr><td><b>Semester</b></td><td><b>Result-SGPA</b></td><td><b>CGPA</b></td></tr><tr><td>6</td><td>PASSED-9.82</td><td>9.87</td></tr></tbody></table>

In [57]:
T1 = pd.read_html(str(BS.find_all('div',id='subhtm')[0].find_all('table')[0]))[0].iloc[0:]
T1.columns = list(T1.iloc[0])
T1 = T1.iloc[1:]
T1.reset_index(inplace=True,drop=True)
T1

  Personal Information   Personal Information
0       Hall Ticket No           105916467074
1                 Name  N NAGA PRASANNA KUMAR
2        Father's Name             N SRINIVAS
3               Gender                      M
4               Medium                     EN
5               Course                    BSC

In [52]:
T2 = pd.read_html(str(BS.find_all('div',id='subhtm')[0].find_all('table')[1]))[0].iloc[1:]
T2.columns = list(T2.iloc[0])
T2 = T2.iloc[1:]
T2.reset_index(inplace=True,drop=True)
T2

   Subject Code               Subject Name Credits Grade Points Grade Secured
0           750           MATHEMATICS.7 PR       1           10             O
1           752         COMP. SCIENCE.7 PR       1           10             O
2           850           MATHEMATICS.8 PR       1           10             O
3           852         COMP. SCIENCE.8 PR       1           10             O
4          759Q               GRAPH THEORY       2            9             A
5          859T  SECTORS OF INDIAN ECONOMY       2           10             O
6           851            COMP. SCIENCE.8       3            9             A
7           724            STATISTICS.7 PR       1           10             O
8           849              MATHEMATICS.8       3           10             O
9           823               STATISTICS.8       3           10             O
10          824            STATISTICS.8 PR       1           10             O
11          749              MATHEMATICS.7       3           10             O
12          723               STATISTICS.7       3           10             O
13          751            COMP. SCIENCE.7       3           10             O

In [59]:
T2.dtypes

Subject Code     object
Subject Name     object
Credits          object
Grade Points     object
Grade Secured    object
dtype: object

In [58]:
T3 = pd.read_html(str(BS.find_all('div',id='subhtm')[0].find_all('table')[2]))[0].iloc[1:]
T3

          0            1     2
1  Semester  Result-SGPA  CGPA
2         6  PASSED-9.82  9.87

In [74]:
# BS.find_all('div',id='subhtm')[0].find_all('table')[0].find_all('td')[0]['colspan'] = 2
BS.find_all('div',id='subhtm')[0].find_all('table')[0]

<table cellpadding="0" cellspacing="0" width="100%"> <tbody><tr><td colspan="2" style="background-color:bed6e0; text-align:center;"><b>Personal Information</b></td></tr> <tr><td><b> Hall Ticket No </b></td><td>105916467074</td></tr><tr><td><b> Name </b></td><td>N NAGA PRASANNA KUMAR</td></tr><tr><td><b> Father's Name </b></td><td>N SRINIVAS</td></tr><tr><td><b> Gender </b></td><td>M</td></tr><tr><td><b> Medium </b></td><td>EN</td></tr><tr><td><b> Course </b></td><td>BSC</td></tr></tbody></table>

In [72]:
display(HTML(f"{BS.find_all('div',id='subhtm')[0].find_all('table')[0]}"))
# display(HTML(f"{BS.find_all('div',id='subhtm')[0].find_all('table')[1]}"))
# display(HTML(f"{BS.find_all('div',id='subhtm')[0].find_all('table')[2]}"))

In [97]:
Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]').text
Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]').text
Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]').text

C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/361587400.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]').text
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/361587400.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]').text
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/361587400.py:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]').text

In [98]:
Personal_Information = {}
Personal_Information["Hall Ticket No"] = [Table1.split("\n")[1][15:]]
Personal_Information["Name"] = [Table1.split("\n")[2][4:]]
Personal_Information["Father's Name"] = [Table1.split("\n")[3][14:]]
Personal_Information["Gender"] = [Table1.split("\n")[4][7:]]
Personal_Information["Medium"] = [Table1.split("\n")[5][7:]]
Personal_Information["Course"] = [Table1.split("\n")[6][7:]]
# print(pd.DataFrame(Personal_Information).transpose().to_string(header=False))

In [99]:
a = ["Subject_Code","Subject_Name","Credits","Grade_Points","Grade_Secured"]
Marks_Details = {}
for i in range(len(a)):
    Marks_Details[a[i]] = []
Marks_Details
for i in range(len(Table2.split('\n')[2:])):
    Marks_Details[a[0]].append(Table2.split("\n")[2:][i].split(' ')[0])
    Marks_Details[a[1]].append(Table2.split("\n")[2:][i][4:-7])
    Marks_Details[a[2]].append(Table2.split("\n")[2:][i].split(' ')[-3])
    Marks_Details[a[3]].append(Table2.split("\n")[2:][i].split(' ')[-2])
    Marks_Details[a[4]].append(Table2.split("\n")[2:][i].split(' ')[-1])
# print(pd.DataFrame(Marks_Details).to_string(index=False))

In [100]:
Result = {}
Result["Semester"] = [Table3.split("\n")[-1].split(" ")[0]]
Result["Result-SGPA"] = [Table3.split("\n")[-1].split(" ")[1]]
Result["CGPA"] = [Table3.split("\n")[-1].split(" ")[2]]
# print(pd.DataFrame(Result).to_string(index = False))

In [101]:
PI = pd.DataFrame(Personal_Information).transpose().to_string(header=False)
MD = pd.DataFrame(Marks_Details).to_string(index=False)
RS = pd.DataFrame(Result).to_string(index=False)

In [102]:
print(PI)
print("*" * 80)
print(" ")
print(MD)
print("*" * 80)
print(" ")
print("",RS)

Hall Ticket No                    105916487050
Name                YERRAMILLI SREE GEETANJALI
Father's Name   YERRAMILLI VEERA VENKATA RANGA
Gender                                       F
Medium                                      EN
Course                                     BSC
********************************************************************************

Subject_Code         Subject_Name Credits Grade_Points Grade_Secured
         744   MICRO-BIOLOGY.7 PR       1           10             O
         843      MICRO-BIOLOGY.8       3           10             O
        759M  HOSPITALWASTE MANG.       2           10             O
        859G        COM.SCI. IT-2       2           10             O
         844   MICRO-BIOLOGY.8 PR       1           10             O
         763    BIO. TECHNOLOGY.7       3           10             O
         764 BIO. TECHNOLOGY.7 PR       1           10             O
         718           CHEMISTRY.       3            8             B
         743      MICRO-BIOLOGY.7       3           10             O
         818           CHEMISTRY.       3            9             A
         863    BIO. TECHNOLOGY.8       3           10             O
         864 BIO. TECHNOLOGY.8 PR       1           10             O
         719       CHEMISTRY.7 PR       1           10             O
         819       CHEMISTRY.8 PR       1           10             O
********************************************************************************

 Semester Result-SGPA CGPA
       6 PASSED-9.68 9.48

In [105]:
url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'
ht = input("Enter Hall Ticket Number : ")
cs = input("Enter Course : Bcom Bsc BA BBA ")
driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
driver.get(url)
driver.find_element_by_id("htno").send_keys(ht)
time.sleep(1)
driver.find_element_by_id("Degree").send_keys(cs)
time.sleep(1)
driver.find_element_by_id('btnsubmit').click()
time.sleep(2)
Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]').text
Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]').text
Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]').text
Personal_Information = {}
Personal_Information["Hall Ticket No"] = [Table1.split("\n")[1][15:]]
Personal_Information["Name"] = [Table1.split("\n")[2][4:]]
Personal_Information["Father's Name"] = [Table1.split("\n")[3][14:]]
Personal_Information["Gender"] = [Table1.split("\n")[4][7:]]
Personal_Information["Medium"] = [Table1.split("\n")[5][7:]]
Personal_Information["Course"] = [Table1.split("\n")[6][7:]]
# print(pd.DataFrame(Personal_Information).transpose().to_string(header=False))
a = ["Subject_Code","Subject_Name","Credits","Grade_Points","Grade_Secured"]
Marks_Details = {}
for i in range(len(a)):
    Marks_Details[a[i]] = []
Marks_Details
for i in range(len(Table2.split('\n')[2:])):
    Marks_Details[a[0]].append(Table2.split("\n")[2:][i].split(' ')[0])
    Marks_Details[a[1]].append(Table2.split("\n")[2:][i][4:-7])
    Marks_Details[a[2]].append(Table2.split("\n")[2:][i].split(' ')[-3])
    Marks_Details[a[3]].append(Table2.split("\n")[2:][i].split(' ')[-2])
    Marks_Details[a[4]].append(Table2.split("\n")[2:][i].split(' ')[-1])
# print(pd.DataFrame(Marks_Details).to_string(index=False))
Result = {}
Result["Semester"] = [Table3.split("\n")[-1].split(" ")[0]]
Result["Result-SGPA"] = [Table3.split("\n")[-1].split(" ")[1]]
Result["CGPA"] = [Table3.split("\n")[-1].split(" ")[2]]
# print(pd.DataFrame(Result).to_string(index = False))
print(pd.DataFrame(Personal_Information).transpose().to_string(header=False))
print("*" * 80)
print(" ")
print(pd.DataFrame(Marks_Details).to_string(index=False))
print("*" * 80)
print(" ")
print(pd.DataFrame(Result).to_string(index=False))

Enter Hall Ticket Number : 105916467086
Enter Course : Bcom Bsc BA BBA Bsc

C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").send_keys(ht)
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys(cs)
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('btnsubmit').click()
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]').text
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]').text
C:\Users\aakas\AppData\Local\Temp/ipykernel_17024/3072723443.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]').text

Hall Ticket No                105916467086
Name                 PYDIKONDALA TEJASWINI
Father's Name   PYDIKONDALA JANARDHAN RAJU
Gender                                   F
Medium                                  EN
Course                                 BSC
********************************************************************************

Subject_Code               Subject_Name Credits Grade_Points Grade_Secured
         750           MATHEMATICS.7 PR       1           10             O
         752         COMP. SCIENCE.7 PR       1           10             O
         852         COMP. SCIENCE.8 PR       1           10             O
         850           MATHEMATICS.8 PR       1           10             O
        759Q                GRAPH THEOR       2            9             A
        859T  SECTORS OF INDIAN ECONOMY       2           10             O
         724            STATISTICS.7 PR       1           10             O
         823               STATISTICS.8       3           10             O
         824            STATISTICS.8 PR       1           10             O
         749               MATHEMATICS.       3            9             A
         751             COMP. SCIENCE.       3            8             B
         851             COMP. SCIENCE.       3            8             B
         849              MATHEMATICS.8       3           10             O
         723                STATISTICS.       3            9             A
********************************************************************************

Semester Result-SGPA CGPA
       6 PASSED-9.29  9.3