In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd

In [2]:
options = Options()
options.add_argument('start-maximized')

In [3]:
url = 'http://www.results.manabadi.co.in/osmania-university-ug-cbcs-ba-bcom-bsc-bba-2019-exam-results-13-082019.htm'

In [16]:
# ht = input("Enter Hall Ticket Number : ")
# cs = input("Enter Course : Bcom Bsc BA BBA ")
driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
driver.get(url)
driver.find_element_by_id("htno").send_keys("105916467001")
time.sleep(1)
driver.find_element_by_id("Degree").send_keys("BSC")
time.sleep(1)
driver.find_element_by_id('btnsubmit').click()
driver.find_element_by_id("htno").clear()
driver.find_element_by_id("htno").send_keys("105916467002")
time.sleep(1)
driver.find_element_by_id("Degree").send_keys("BSC")
time.sleep(1)
driver.find_element_by_id('btnsubmit').click()

C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:3: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options,executable_path="C:\\WebDriver\\chromedriver.exe")
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").send_keys("105916467001")
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys("BSC")
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('btnsubmit').click()
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").clear()
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("htno").send_keys("105916467002")
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys("BSC")
C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2443751661.py:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('btnsubmit').click()

In [220]:
# driver.find_element_by_id("htno").clear()
# driver.find_element_by_id("Degree").send_keys(cs)

C:\Users\aakas\AppData\Local\Temp/ipykernel_15808/3175361176.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("Degree").send_keys(cs)

In [14]:
[driver.find_element_by_xpath('//span[@id="sMsg"]').text][0].strip(".") == 'Invalid Hall Ticket No'

C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2646769182.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  [driver.find_element_by_xpath('//span[@id="sMsg"]').text][0].strip(".") == 'Invalid Hall Ticket No'

True

In [5]:
driver.find_element_by_id("subhtm").text

C:\Users\aakas\AppData\Local\Temp/ipykernel_8688/2954865602.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("subhtm").text

''

In [9]:
Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')

C:\Users\aakas\AppData\Local\Temp/ipykernel_15808/3416287205.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table1 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[1]')

In [104]:
Personal_Information = []
for i in Table1.find_elements_by_tag_name('td'):
    Personal_Information.append(i.text)
Personal_Information = Personal_Information[1:]
Personal_Information

C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

['Hall Ticket No',
 '105916467074',
 'Name',
 'N NAGA PRASANNA KUMAR',
 "Father's Name",
 'N SRINIVAS',
 'Gender',
 'M',
 'Medium',
 'EN',
 'Course',
 'BSC']

In [124]:
PI = {}
for (i,j) in zip(Personal_Information[::2],Personal_Information[1::2]):
    PI[i] = j
PI

{'Hall Ticket No': '105916467074',
 'Name': 'N NAGA PRASANNA KUMAR',
 "Father's Name": 'N SRINIVAS',
 'Gender': 'M',
 'Medium': 'EN',
 'Course': 'BSC'}

In [25]:
Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')

C:\Users\aakas\AppData\Local\Temp/ipykernel_15808/3875442668.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table2 =driver.find_element_by_xpath('//div[@id="subhtm"]//table[2]')

In [186]:
Marks_Details = []
for i in Table2.find_elements_by_tag_name('td'):
    Marks_Details.append(i.text)
Marks_Details = Marks_Details[1:]
Marks_Details[0:5]

C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

['Subject Code', 'Subject Name', 'Credits', 'Grade Points', 'Grade Secured']

In [188]:
# [Marks_Details[5*i:5*(i+1)] for i in range(int(len(Marks_Details[5:])/10) + 1)]
MD = [Marks_Details[i::5][1:] for i in range(len(Marks_Details[0:5])) ]
MD

[['750',
  '752',
  '850',
  '852',
  '759Q',
  '859T',
  '851',
  '724',
  '849',
  '823',
  '824',
  '749',
  '723',
  '751'],
 ['MATHEMATICS.7 PR',
  'COMP. SCIENCE.7 PR',
  'MATHEMATICS.8 PR',
  'COMP. SCIENCE.8 PR',
  'GRAPH THEORY',
  'SECTORS OF INDIAN ECONOMY',
  'COMP. SCIENCE.8',
  'STATISTICS.7 PR',
  'MATHEMATICS.8',
  'STATISTICS.8',
  'STATISTICS.8 PR',
  'MATHEMATICS.7',
  'STATISTICS.7',
  'COMP. SCIENCE.7'],
 ['1', '1', '1', '1', '2', '2', '3', '1', '3', '3', '1', '3', '3', '3'],
 ['10',
  '10',
  '10',
  '10',
  '9',
  '10',
  '9',
  '10',
  '10',
  '10',
  '10',
  '10',
  '10',
  '10'],
 ['O', 'O', 'O', 'O', 'A', 'O', 'A', 'O', 'O', 'O', 'O', 'O', 'O', 'O']]

In [191]:
MI = {}
for (i,j) in zip(Marks_Details[0:5],MD):
    MI[i] = j
MI

{'Subject Code': ['750',
  '752',
  '850',
  '852',
  '759Q',
  '859T',
  '851',
  '724',
  '849',
  '823',
  '824',
  '749',
  '723',
  '751'],
 'Subject Name': ['MATHEMATICS.7 PR',
  'COMP. SCIENCE.7 PR',
  'MATHEMATICS.8 PR',
  'COMP. SCIENCE.8 PR',
  'GRAPH THEORY',
  'SECTORS OF INDIAN ECONOMY',
  'COMP. SCIENCE.8',
  'STATISTICS.7 PR',
  'MATHEMATICS.8',
  'STATISTICS.8',
  'STATISTICS.8 PR',
  'MATHEMATICS.7',
  'STATISTICS.7',
  'COMP. SCIENCE.7'],
 'Credits': ['1',
  '1',
  '1',
  '1',
  '2',
  '2',
  '3',
  '1',
  '3',
  '3',
  '1',
  '3',
  '3',
  '3'],
 'Grade Points': ['10',
  '10',
  '10',
  '10',
  '9',
  '10',
  '9',
  '10',
  '10',
  '10',
  '10',
  '10',
  '10',
  '10'],
 'Grade Secured': ['O',
  'O',
  'O',
  'O',
  'A',
  'O',
  'A',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O']}

In [37]:
for i in Table2.find_elements_by_tag_name('b'):
    print(i.text)

Marks Details
Subject Code
Subject Name
Credits
Grade Points
Grade Secured

C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [27]:
Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')

C:\Users\aakas\AppData\Local\Temp/ipykernel_15808/2367692204.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table3 = driver.find_element_by_xpath('//div[@id="subhtm"]//table[3]')

In [192]:
Result = []
for i in Table3.find_elements_by_tag_name('td'):
    Result.append(i.text)
Result = Result[1:]
Result

C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

['Semester', 'Result-SGPA', 'CGPA', '6', 'PASSED-9.82', '9.87']

In [199]:
RI = {}
for (i,j) in zip(Result[0:3],Result[3:]):
    RI[i] = j
RI

In [211]:
for i,j in RI.items():
    print(i,":",j,"  ",end="")

Semester
6Result-SGPA
PASSED-9.82CGPA
9.87

In [38]:
for i in Table3.find_elements_by_tag_name('b'):
    print(i.text)

Result
Semester
Result-SGPA
CGPA

C:\Users\aakas\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:359: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [222]:
Table1.split("\n")

['Personal Information',
 'Hall Ticket No 105916467074',
 'Name N NAGA PRASANNA KUMAR',
 "Father's Name N SRINIVAS",
 'Gender M',
 'Medium EN',
 'Course BSC']

In [238]:
Table1.split("\n")[6][7:]

'BSC'

In [250]:
Personal_Information = {}

In [251]:
Personal_Information["Hall Ticket No"] = [Table1.split("\n")[1][15:]]
Personal_Information["Name"] = [Table1.split("\n")[2][4:]]
Personal_Information["Father's Name"] = [Table1.split("\n")[3][14:]]
Personal_Information["Gender"] = [Table1.split("\n")[4][7:]]
Personal_Information["Medium"] = [Table1.split("\n")[5][7:]]
Personal_Information["Course"] = [Table1.split("\n")[6][7:]]

In [263]:
print(pd.DataFrame(Personal_Information).transpose().to_string(header=False))

Hall Ticket No            105916467074
Name             N NAGA PRASANNA KUMAR
Father's Name               N SRINIVAS
Gender                               M
Medium                              EN
Course                             BSC

In [173]:
Table2.split("\n")

['Marks Details',
 'Subject Code Subject Name Credits Grade Points Grade Secured',
 '750 MATHEMATICS.7 PR 1 10 O',
 '752 COMP. SCIENCE.7 PR 1 10 O',
 '850 MATHEMATICS.8 PR 1 10 O',
 '852 COMP. SCIENCE.8 PR 1 10 O',
 '759Q GRAPH THEORY 2 9 A',
 '859T SECTORS OF INDIAN ECONOMY 2 10 O',
 '851 COMP. SCIENCE.8 3 9 A',
 '724 STATISTICS.7 PR 1 10 O',
 '849 MATHEMATICS.8 3 10 O',
 '823 STATISTICS.8 3 10 O',
 '824 STATISTICS.8 PR 1 10 O',
 '749 MATHEMATICS.7 3 10 O',
 '723 STATISTICS.7 3 10 O',
 '751 COMP. SCIENCE.7 3 10 O']

In [269]:
Table3

'Result\nSemester Result-SGPA CGPA\n6 PASSED-9.82 9.87'

In [278]:
Table3.split("\n")[-1].split(" ")

['6', 'PASSED-9.82', '9.87']

In [280]:
Result = {}

In [281]:
Result["Semester"] = [Table3.split("\n")[-1].split(" ")[0]]
Result["Result-SGPA"] = [Table3.split("\n")[-1].split(" ")[1]]
Result["CGPA"] = [Table3.split("\n")[-1].split(" ")[2]]

In [285]:
print(pd.DataFrame(Result).to_string(index = False))

Semester Result-SGPA CGPA
       6 PASSED-9.82 9.87

In [198]:
a = ["Subject_Code","Subject_Name","Credits","Grade_Points","Grade_Secured"]
a

['Subject_Code', 'Subject_Name', 'Credits', 'Grade_Points', 'Grade_Secured']

In [218]:
Marks_Details = {}
for i in range(len(a)):
    Marks_Details[a[i]] = []
Marks_Details

{'Subject_Code': [],
 'Subject_Name': [],
 'Credits': [],
 'Grade_Points': [],
 'Grade_Secured': []}

In [219]:
for i in range(len(Table2.split('\n')[2:])):
    Marks_Details[a[0]].append(Table2.split("\n")[2:][i].split(' ')[0])
    Marks_Details[a[1]].append(Table2.split("\n")[2:][i][4:-7])
    Marks_Details[a[2]].append(Table2.split("\n")[2:][i].split(' ')[-3])
    Marks_Details[a[3]].append(Table2.split("\n")[2:][i].split(' ')[-2])
    Marks_Details[a[4]].append(Table2.split("\n")[2:][i].split(' ')[-1])
pd.DataFrame(Marks_Details)

   Subject_Code                Subject_Name Credits Grade_Points Grade_Secured
0           750            MATHEMATICS.7 PR       1           10             O
1           752          COMP. SCIENCE.7 PR       1           10             O
2           850            MATHEMATICS.8 PR       1           10             O
3           852          COMP. SCIENCE.8 PR       1           10             O
4          759Q                 GRAPH THEOR       2            9             A
5          859T   SECTORS OF INDIAN ECONOMY       2           10             O
6           851              COMP. SCIENCE.       3            9             A
7           724             STATISTICS.7 PR       1           10             O
8           849               MATHEMATICS.8       3           10             O
9           823                STATISTICS.8       3           10             O
10          824             STATISTICS.8 PR       1           10             O
11          749               MATHEMATICS.7       3           10             O
12          723                STATISTICS.7       3           10             O
13          751             COMP. SCIENCE.7       3           10             O

In [264]:
print(pd.DataFrame(Marks_Details).to_string(index=False))

Subject_Code               Subject_Name Credits Grade_Points Grade_Secured
         750           MATHEMATICS.7 PR       1           10             O
         752         COMP. SCIENCE.7 PR       1           10             O
         850           MATHEMATICS.8 PR       1           10             O
         852         COMP. SCIENCE.8 PR       1           10             O
        759Q                GRAPH THEOR       2            9             A
        859T  SECTORS OF INDIAN ECONOMY       2           10             O
         851             COMP. SCIENCE.       3            9             A
         724            STATISTICS.7 PR       1           10             O
         849              MATHEMATICS.8       3           10             O
         823               STATISTICS.8       3           10             O
         824            STATISTICS.8 PR       1           10             O
         749              MATHEMATICS.7       3           10             O
         723               STATISTICS.7       3           10             O
         751            COMP. SCIENCE.7       3           10             O